<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:esun="" class="has-js">

	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<title>【*和值走势】*开奖号码 开奖结果查询 - 168彩票开奖网</title>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
		<meta name="keywords" content="极速快3和值走势" />
		<meta name="description " content="168彩票开奖网极速快3和值走势开奖栏目提供最新极速快3和值走势开奖结果查询、极速快3和值走势开奖号码走势、极速快3和值走势开奖时间、极速快3和值走势今天开奖信息。" />
		<link rel="stylesheet" href="../../css/headorfood.css?v=2022815117" />
		<link rel="stylesheet" href="../../css/kuai3.css?v=2022815117" />
		<link rel="stylesheet" href="../../css/calendar.css?v=2022815117" />
		<link rel="shortcut icon" href="../../img/icon/168favicon.ico?v=2022815117">
		<link rel="stylesheet" href="../../css/user_adv.css?v=2022815117" />
		<script src="../../js/lib/bootstrap-3.3.0/js/tests/vendor/jquery.min.js"></script>
		<script src="../../js/lib/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="../../js/lib/jquery-1.7.2.min.js"></script>
	</head>

	<body>
		<div class="bodybox pk10lzzhfxymbox zsbox">
			<div id="headdivbox"></div>
			<div class="haomabox">
				<div class="waring" id="waringbox">
					<div class="flash"><i></i></div>
					温馨提示：因网络问题，开奖结果会有延迟，所以您需要去喝杯咖啡等一会儿！
				</div>
				<div class="haomaqu" id="cqSsc">
					<div class="haomaqu_resetPar">
						<div class="haomaqul">
							<div class="haomaline">
								<div class="haomaimg">
									<img class="iconUrl" />
								</div>
								<div class="numberqu">
									<div class="nuberqutit">
										<span class="klsf gamename"></span>第
										<span class="preDrawIssue"></span> 期开奖号码<input type="hidden" id="drawTime">
									</div>
									<div class="kajianhaoPar">
										<div class="kajianhaod" id="jnumber">
											<ul class="kajianhao">
												<li class="num1"></li>
												<li class="num2"></li>
												<li class="num4"></li>
											</ul>
										</div>
									</div>
									<div class="line drawCountDiv">已开<span class="drawCount"></span>期，还有<span class="sdrawCount"></span>期</div>
								</div>
							</div>
						</div>
						<div class="haomaqur">
							<div class="haomaqur_l">
								<div class="line linetit">距<span class="nextIssue"></span>期开奖仅有</div>
								<div class="line linetime" id="timebox">
									<div class="opening opentyle">开奖中...</div>
									<div class="cuttime">
										<span class="bgtime hour">00</span>
										<span class="hourtxt">时</span>
										<span class="bgtime minute">00</span>
										<span>分</span>
										<span class="bgtime second">00</span>
										<span>秒</span>
									</div>
								</div>
							</div>
							<div class="line soundId haomaqur_r">
								<div class="soundline ifSoundSet" id="ifSoundOpen"></div>
								<!--关闭铃声-->
								<div class="soundline soundSet" id="soundSet"></div>
								<!--设置铃声-->
							</div>
							<div class="line margt20" id="startVideo">
								<img src="../../img/video/kuai3_pic/k3v_jisu.jpg?v=2022815117" />
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="haomaqu_resetSon">
				<div class="homaline2">
					<div class="margt30 li_td">
						<ul class="zoushimap">
							<li>
								<a class="dhmenu" href="kuai3_index.html">即时开奖</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_meiricltj.html">每日长龙统计</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_zonghelz.html">总和路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_lishihaomatj.html">历史号码统计</a>
							</li>
							<li class="checked">
								<a class="dhmenu" href="kuai3_hezhizs.html">和值走势</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_haomalz.html">号码路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_dinweizs.html">定位走势</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_daxiaozs.html">大小走势</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_jibenzs.html">基本走势</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_jiouzs.html">奇偶走势</a>
							</li>
							<li>
								<a href="../wanfaguize/KUAI3_wanfaguize.html">玩法规则</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="zhlzbox margt20">
				<div class="listhead">
					<div class="listheadl">
						<span class="lmms"><i>3</i>和值走势</span>
					</div>
					<div class="listheadr">
						<!--<div class="listheadrr">
							<div class="rightime">
								<div id="dateframe">
									<input type="text" class="date" placeholder="">
									<div id="datebox"></div>
									<i class="dropicond"></i>
								</div>
							</div>
							<div>选择日期&nbsp;</div>
						</div>-->
						<div class="listheadrl">
							<span id="today">今天</span>
							<span id="yesterday">昨天</span>
							<span id="qianday">前天</span>
							<span id="thirty" class="checked">最近30期</span>
							<span id="sixty">最近60期</span>
							<span id="ninety">最近90期</span>
						</div>
					</div>
				</div>
				<div class="listbox">
					<div class="listbox_spread" id="listbox_spread">
						<div id="spreadDiv">
							<p id="prep"><i>说明：</i>1 和值 ：开奖号码相加之和，范围3~18；<span></span> </p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;和值大小：和值大于等于11为大，和值小于等于10为小。</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;和值单双 : 和值奇数为单，和值偶数为双。</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;遗漏期数：自上期开出到本期间隔的期数。</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;分隔线 ：每五期使用分隔线，使横向导航更加清晰。</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;出现次数：统计周期内，某个号码的累计出现次数。</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;平均遗漏：统计期数内遗漏的平均值（计算公式：平均遗漏＝统计期内的总遗漏数/(出现次数+1)）。</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最大遗漏：是指统计周期内所有遗漏值的最大值。</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最大连出：是指统计周期内所有连出值的最大值。</p>
						</div>
					</div>
					<div class="checkbox">
						<div id="biaozxz" class="checkbtnzh checkbtnmc">
							<ul>
								<li class="title">标注选择：</li>
								<li class="sinli checked"><i>1</i>
									<a href="javascript:void(0)">遗漏</a>
								</li>
								<li class="sinli checked"><i>2</i>
									<a href="javascript:void(0)">拆线</a>
								</li>
								<li class="sinli"><i>3</i>
									<a href="javascript:void(0)">遗漏分成</a>
								</li>
								<li class="sinli"><i>4</i>
									<a href="javascript:void(0)">分隔线</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="listcontent">
						<div class="box">
							<div id="waitBox" class="bastren w1200">
								<div id="chartLinediv" style="position:relative;*position:static;">
									<table id="table_weizhi" width="100%" border="0" cellpadding="0" cellspacing="0" style="display: table;">
										<thead>
											<tr class="firthtd">
												<th rowspan="2" width="150" height="38" class="left_border left_b left_strong_down">期号</th>
												<th rowspan="2" width="150">开奖号码</th>
												<th colspan="17" width="40" id="qiuhao">和值走势</th>
												<th colspan="4" width="40">和值形态</th>
											</tr>
											<tr class="secondtd">
												<th width="40">和</th>
												<th width="40">3</th>
												<th width="40">4</th>
												<th width="40">5</th>
												<th width="40">6</th>
												<th width="40">7</th>
												<th width="40">8</th>
												<th width="40">9</th>
												<th width="40">10</th>
												<th width="40">11</th>
												<th width="40">12</th>
												<th width="40">13</th>
												<th width="40">14</th>
												<th width="40">15</th>
												<th width="40">16</th>
												<th width="40">17</th>
												<th width="40">18</th>
												<th width="40">大</th>
												<th width="40">小</th>
												<th width="40">单</th>
												<th width="40">双</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
								<div id="chartbottom" style="display: none;">
									<table>
										<tr>
											<th rowspan="2" colspan="2" width="85" height="38" class="left_border left_b left_strong_down">数据统计</th>
											<th rowspan="2" width="150">开奖号码</th>
											<th colspan="17" width="40" id="qiuhao">和值走势</th>
											<th colspan="4" width="40">和值形态</th>
										</tr>
										<tr>
											<th width="40">和</th>
											<th width="40">0</th>
											<th width="40">1</th>
											<th width="40">2</th>
											<th width="40">3</th>
											<th width="40">4</th>
											<th width="40">5</th>
											<th width="40">6</th>
											<th width="40">7</th>
											<th width="40">8</th>
											<th width="40">9</th>
											<th width="40">10</th>
											<th width="40">11</th>
											<th width="40">12</th>
											<th width="40">13</th>
											<th width="40">14</th>
											<th width="40">15</th>
											<th width="40">小</th>
											<th width="40">大</th>
											<th width="40">单</th>
											<th width="40">双</th>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="fooderbox"></div>

			<div class="fixedgoBack">
				<div class="fix1200">
					<ul>
						<li>
							<a rel="nofollow" class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&uin=800057725&cref=http://www.168kai.cc&ref=&pt=168%E5%BC%80%E5%A5%96%E7%BD%91&f=1&ty=1&ap=&as="></a>
						</li>
						<li>
							<!--用户反馈模态框-->
							<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
							<span class="fankuicons"></span>
							</span>

						</li>
						<li>
							<a rel="nofollow" class="topicon" id="gotop" href="javascript:"></a>
						</li>
					</ul>
				</div>
			</div>
			<!--模态框-->
			<!-- 模态框（Modal） -->
			<div id="user_adv"></div>
			<div id="videobox">
				<div class="content">
					<div class="head">
						<span class="gamename"></span>开奖视频
						<div class="btn">
							<ul>
								<li class="closevideo"><i class="iconfont"></i></li>
								<li class="small">小屏</li>
								<li class="big">中屏</li>
							</ul>
						</div>
					</div>
					<div class="animate">
						<iframe class="videocz" style="height:100%;width:100%;border: none;" scrolling="no" src="../../js/lib/video/kuai3_video/Kuai3_jisu.html"></iframe>
					</div>
				</div>
			</div>

			<script type="text/javascript" src="../../js/lib/calendar.js"></script>
	</body>
	<script type="text/javascript" src="../../js/lib/config.js?v=2022815117"></script>
	<script type="text/javascript" charset="utf-8" src="../../js/lib/drawLines.js"></script>
	<script type="text/javascript" charset="utf-8" src="../../js/lib/jquery.async.js"></script>
	<script type="text/javascript" charset="utf-8" src="../../js/lib/pk10BaseTrend.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/lib/GA.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/loacal/kuai3/kuai3_hezhizs.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/loacal/animate/animate.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/loacal/kuai3_kai/jisukuai3_kaijiang.js?v=2022815111"></script>

</html>