<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<title>【*每日长龙统计】*开奖号码 开奖结果查询 - 168彩票开奖网</title>
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
		<meta name="keywords" content="极速快3每日长龙统计" />
		<meta name="description " content="168彩票开奖网极速快3每日长龙统计开奖栏目提供最新极速快3每日长龙统计开奖结果查询、极速快3每日长龙统计开奖号码走势、极速快3每日长龙统计开奖时间、极速快3每日长龙统计今天开奖信息。" />
		<link rel="stylesheet" href="../../css/headorfood.css?v=2022815117" />
		<link rel="stylesheet" href="../../css/kuai3.css?v=2022815117" />
		<link rel="stylesheet" href="../../css/calendar.css?v=2022815117" />
		<link rel="shortcut icon" href="../../img/icon/168favicon.ico?v=2022815117">
		<link rel="stylesheet" href="../../css/user_adv.css?v=2022815117" />
		<script src="../../js/lib/bootstrap-3.3.0/js/tests/vendor/jquery.min.js"></script>
		<script src="../../js/lib/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="../../js/lib/jquery-1.7.2.min.js"></script>
	</head>

	<body>
		<div class="bodybox pk10lzzhfxymbox mrcltj">
			<div id="headdivbox"></div>
			<div class="haomabox">
				<div class="waring" id="waringbox">
					<div class="flash"><i></i></div>
					温馨提示：因网络问题，开奖结果会有延迟，所以您需要去喝杯咖啡等一会儿！
				</div>
				<div class="haomaqu" id="cqSsc">
					<div class="haomaqu_resetPar">
						<div class="haomaqul">
							<div class="haomaline">
								<div class="haomaimg">
									<img class="iconUrl" />
								</div>
								<div class="numberqu">
									<div class="nuberqutit">
										<span class="klsf gamename"></span>第
										<span class="preDrawIssue"></span> 期开奖号码<input type="hidden" id="drawTime">
									</div>
									<div class="kajianhaoPar">
										<div class="kajianhaod" id="jnumber">
											<ul class="kajianhao">
												<li class="num1"></li>
												<li class="num2"></li>
												<li class="num4"></li>
											</ul>
										</div>
									</div>
									<div class="line drawCountDiv">已开<span class="drawCount"></span>期，还有<span class="sdrawCount"></span>期</div>
								</div>
							</div>
						</div>
						<div class="haomaqur">
							<div class="haomaqur_l">
								<div class="line linetit">距<span class="nextIssue"></span>期开奖仅有</div>
								<div class="line linetime" id="timebox">
									<div class="opening opentyle">开奖中...</div>
									<div class="cuttime">
										<span class="bgtime hour">00</span>
										<span class="hourtxt">时</span>
										<span class="bgtime minute">00</span>
										<span>分</span>
										<span class="bgtime second">00</span>
										<span>秒</span>
									</div>
								</div>
							</div>
							<div class="line soundId haomaqur_r">
								<div class="soundline ifSoundSet" id="ifSoundOpen"></div>
								<!--关闭铃声-->
								<div class="soundline soundSet" id="soundSet"></div>
								<!--设置铃声-->
							</div>
							<div class="line margt20" id="startVideo">
								<img src="../../img/video/kuai3_pic/k3v_jisu.jpg?v=2022815117" />
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="haomaqu_resetSon">
				<div class="homaline2">
					<div class="margt30 li_td">
						<ul class="zoushimap">
							<li>
								<a class="dhmenu" href="kuai3_index.html">即时开奖</a>
							</li>
							<li class="checked">
								<a class="dhmenu" href="kuai3_meiricltj.html">每日长龙统计</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_zonghelz.html">总和路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_lishihaomatj.html">历史号码统计</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_hezhizs.html">和值走势</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_haomalz.html">号码路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_dinweizs.html">定位走势</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_daxiaozs.html">大小走势</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_jibenzs.html">基本走势</a>
							</li>
							<li>
								<a class="dhmenu" href="kuai3_jiouzs.html">奇偶走势</a>
							</li>
							<li>
								<a href="../wanfaguize/KUAI3_wanfaguize.html">玩法规则</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="zhlzbox margt20">
				<div class="listhead">
					<div class="listheadl checkbtndx" id="tabdsdxcl">
						<span class="zhms xxselected"><i title="0">1</i>单长龙</span>
						<span class="dxms"><i title="0">2</i>双长龙</span>
						<span class="lmms"><i title="0">3</i>大长龙</span>
						<span class="scl"><i title="0">4</i>小长龙</span>
					</div>
				</div>
				<div class="listbox">
					<div class="checkbox">
						<div id="dxdsmc" class="checkbtnzh checkbtndx block" style="display: block;">
							<ul class="xuanzhemc">
								<li class="mctitle">该页面统计长龙每天出现的条数，例如某日连续开出5期长龙（该形态）共出现10次</li>
							</ul>
							<ul class="xuanzhemc">
								<!--<li class="mctitle">选择名次：</li>-->
								<li class="sinli checked"><span>1</span>
									<a href="javascript:void(0)">总和</a>
								</li>
							</ul>
						</div>
						<!--<div id="lhmc" class="checkbtnzh checkbtndx">
							<ul class="xuanzhemc">
								<li class="mctitle">该页面统计长龙每天出现的条数，例如某日连续开出5期长龙（该形态）共出现10次</li>
							</ul>
							<ul class="xuanzhemc">
								<li class="mctitle">选择名次：</li>
								<li class="sinli checked"><span>1</span>
									<a href="javascript:void(0)">第一球</a>
								</li>
								<li class="sinli"><span>2</span>
									<a href="javascript:void(0)">第二球</a>
								</li>
								<li class="sinli"><span>3</span>
									<a href="javascript:void(0)">第三球</a>
								</li>
								<li class="sinli"><span>4</span>
									<a href="javascript:void(0)">第四球</a>
								</li>
								<li class="sinli"><span>5</span>
									<a href="javascript:void(0)">第五球</a>
								</li>
							</ul>
						</div>-->

					</div>
					<div class="listcontent">
						<div class="box">
							<div id="waitBox" class="bastren w1200">
								<div id="chartLinediv" style="position:relative;*position:static;">
									<table id="table_cltj" width="100%" border="0" cellpadding="0" cellspacing="0" style="display: table;">
										<thead>
											<tr class="first_th">
												<th rowspan="2" width="123" height="38" class="sanjiao" style="overflow: hidden;">
													<div class="div_out">
														<span class="spanc">长龙</span> <span class="spanr">日期</span>
														<div class="div_gai">
														</div>
													</div>
												</th>
												<th colspan="2" id="headcolspan">开“<span id="cltype"></span>”长龙出现条数</th>
											</tr>
											<tr id="qihao">
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
								<div id="chartbottom" style="display: none;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="fooderbox"></div>

		</div>
		<div class="fixedgoBack">
			<div class="fix1200">
				<ul>
					<li>
						<a rel="nofollow" class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&uin=800057725&cref=http://www.168kai.cc&ref=&pt=168%E5%BC%80%E5%A5%96%E7%BD%91&f=1&ty=1&ap=&as="></a>
					</li>
					<li>
						<!--用户反馈模态框-->
						<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
							<span class="fankuicons"></span>
						</span>

					</li>
					<li>
						<a rel="nofollow" class="topicon" id="gotop" href="javascript:"></a>
					</li>
				</ul>
			</div>
		</div>
		<!--模态框-->
		<!-- 模态框（Modal） -->
		<div id="user_adv"></div>
		<div id="videobox">
				<div class="content">
					<div class="head">
						<span class="gamename"></span>开奖视频
						<div class="btn">
							<ul>
								<li class="closevideo"><i class="iconfont"></i></li>
								<li class="small">小屏</li>
								<li class="big">中屏</li>
							</ul>
						</div>
					</div>
					<div class="animate">
						<iframe class="videocz" style="height:100%;width:100%;border: none;" scrolling="no" src="../../js/lib/video/kuai3_video/Kuai3_jisu.html"></iframe>
					</div>
				</div>
			</div>

		<script type="text/javascript" src="../../js/lib/calendar.js"></script>
	</body>
	<script type="text/javascript" src="../../js/lib/config.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/lib/GA.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/loacal/kuai3/kuai3_meiricltj.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/loacal/animate/animate.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/loacal/kuai3_kai/jisukuai3_kaijiang.js?v=2022815111"></script>

</html>