/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/public/uploads/*
/public/upload/*
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/upload
.user.ini
storage/logs/laravel-2025-09-26.log
storage/logs/
storage/logs/laravel-2025-09-26.log
