html {
    _padding: 54px 0 20px;
    _width: 100%;
    height: 100%;
    overflow-y: hidden
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow-y: hidden;
    min-width: 1200px
}

html.normal {
    _padding: 0;
    height: auto;
    overflow: auto
}

html.normal body {
    overflow: auto;
    height: auto;
    min-width: unset;
    _width: auto
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, p {
    padding: 0;
    margin: 0
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 0;
    padding: 0;
    margin: 0;
    *caption-side: top;
    *border-collapse: collapse;
    *empty-cells: hide
}

ol, ul {
    list-style: none
}

li {
    list-style-type: none
}

img {
    vertical-align: top;
    border: 0
}

select {
    height: 21px;
    vertical-align: top
}

input[type=text], input[type=number], input[type=password] {
    padding: 2px;
    vertical-align: middle
}

input[type=radio], input[type=checkbox] {
    vertical-align: middle;
    margin-bottom: 2px
}

input[type=button], input[type=submit] {
    cursor: pointer
}

.tl {
    text-align: left
}

.tc {
    text-align: center
}

.tr {
    text-align: right
}

.fl {
    float: left
}

.fr {
    float: right
}

.m10 {
    margin: 10px
}

.m5 {
    margin: 5px
}

.ml20 {
    margin-left: 20px
}

.mr20 {
    margin-right: 20px
}

.mt10 {
    margin-top: 10px
}

.mb10 {
    margin-bottom: 10px
}

.mt5 {
    margin-top: 5px
}

.mr5 {
    margin-right: 5px
}

.pb5 {
    padding-bottom: 5px
}

.pt5 {
    padding-top: 5px
}

.pt10 {
    padding-top: 10px
}

.pb10 {
    padding-bottom: 10px
}

.breakword {
    word-break: break-all;
    word-wrap: break-word
}

.vt {
    vertical-align: top
}

.vm {
    vertical-align: middle
}

address, cite, code, em, th, i {
    font-weight: normal;
    font-style: normal
}

.hide {
    display: none
}

.vhide {
    visibility: hidden
}

.ime-dis {
    ime-mode: disabled
}

.inlineblock {
    display: inline-block
}

.inlineblock {
    *display: inline
}

.clearfix {
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    overflow: hidden
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.bold {
    font-weight: bold
}

.f14 {
    font-size: 14px
}

.f16 {
    font-size: 16px
}

.f18 {
    font-size: 16px
}

.f20 {
    font-size: 20px
}

.green {
    color: green
}

.blue {
    color: blue
}

.white {
    color: white
}

.gray {
    color: #666
}

.yellow {
    color: yellow
}

.red {
    color: red
}

.black {
    color: #000
}

.ball-pk10 {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background: url(/xypone/common/images/ball-pk10.png) no-repeat
}

.ball-pk10.ball-1 {
    background-position: 0 0
}

.ball-pk10.ball-2 {
    background-position: 0 -21px
}

.ball-pk10.ball-3 {
    background-position: 0 -42px
}

.ball-pk10.ball-4 {
    background-position: 0 -63px
}

.ball-pk10.ball-5 {
    background-position: 0 -84px
}

.ball-pk10.ball-6 {
    background-position: 0 -105px
}

.ball-pk10.ball-7 {
    background-position: 0 -126px
}

.ball-pk10.ball-8 {
    background-position: 0 -147px
}

.ball-pk10.ball-9 {
    background-position: 0 -168px
}

.ball-pk10.ball-10 {
    background-position: 0 -189px
}

.btn {
    border: 1px solid #1855A5;
    background: linear-gradient(#5A8AC6, #2965B5);
    color: #fff;
    padding: 0 20px;
    cursor: pointer
}

.t-1 {
    border-collapse: collapse;
    width: 100%
}

.t-1 td, .t-1 th {
    border: 1px solid #b9c2cb;
    height: 22px;
    padding: 5px 10px
}

.t-1 th {
    font-weight: bold;
    color: #35406d
}

.t-1 .t {
    background: #DFEDFD;
    color: #000;
    font-weight: bold
}

.t-1 .bg1 td, .t-1 .bg1 th {
    background: #104D9C;
    background: linear-gradient(#5286C6, #104D9C);
    color: #fff
}

.t-1 tfoot td {
    background: #e6e6fa
}

#header {
    position: absolute;
    width: 100%;
    top: 0;
    height: 99px;
    z-index: 1;
    min-width: 1300px
}

#header a.customer-content {
    display: inline-block;
    margin-left: 10px;
    color: #ffffff
}

#header .hd {
    background: url(/xypone/common/images/img_frontend-top-tab.jpg) no-repeat left top;
    height: 61px;
    color: #ebeff5
}

#header .hd .logo {
    background: url(/xypone/common/images/logo1023.png) no-repeat;
    width: 150px;
    height: 60px;
    line-height: 60px;
    padding-left: 100px;
    font-size: 24px
}

#header .hd .lottery-name {
    padding: 8px 0 0;
    line-height: 21px;
    width: 125px
}

#header .hd .draw-number {
    width: 520px
}

#header .hd .draw-number .ifr_result {
    width: 493px;
    height: 61px;
    overflow: hidden;
    vertical-align: top;
    background: transparent
}

#header .hd .draw-number .hdd {
    padding: 10px 0 4px 0
}

#header .hd .draw-number i {
    margin-right: 8px
}

#header .hd .draw-number .state {
    display: inline-block;
    padding: 2px 0;
    width: 33px;
    border: 1px solid #6c798d;
    line-height: 11px;
    font-size: 11px;
    text-align: center
}

#header .hd .menu {
    padding: 10px 10px 0 0;
    line-height: 21px
}

#header .hd .menu a {
    color: #ebeff5;
    margin: 0 6px
}

#header .hd .menu a.active {
    color: yellow
}

#header .hd .skin {
    padding: 20px 0 0 20px;
    color: #fff
}

#header .hd .skin .btn-logout {
    background: #2f97f7;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 5px 5px 5px 25px;
    background: url(/xypone/common/images/ico-logout.png) no-repeat 5px 5px;
    cursor: pointer
}

#header .bd {
    height: 38px;
    background: #2161b3
}

#header .bd .item {
    display: block;
    float: left;
    line-height: 38px;
    height: 38px;
    position: relative;
    width: 124px;
    text-align: center;
    background: url(/xypone/common/images/bg-nav-after.png) no-repeat right 8px;
    color: #fff;
    cursor: pointer
}

#header .bd .item:hover {
    color: #f98d5c;
    font-weight: bold;
    text-decoration: none
}

#header .bd .item.active {
    background: #e7e7e7;
    color: #1e579f;
    text-decoration: none;
    font-weight: normal
}

#header .bd .item.link-more {
    line-height: 38px
}

#header .bd .item.link-more:hover .more {
    display: block
}

#header .bd .more {
    position: absolute;
    display: none;
    right: -1px;
    top: 38px;
    background: #e7e7e7;
    border: 1px solid #2161b3;
    border-top: 0;
    padding: 10px;
    cursor: default
}

#header .bd .more .wrap {
    background: #fff;
    padding: 20px;
    width: 400px;
    text-align: left
}

#header .bd .more a {
    display: inline-block;
    text-align: center;
    width: 130px;
    height: 46px;
    line-height: 46px;
    margin-bottom: 4px;
    color: #fff;
    background: #2161b3;
    float: none
}

#header .bd .more a:hover {
    text-decoration: none
}

#header .bd .game-sort {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    color: white;
    margin-left: 10px;
    cursor: pointer
}

#header .bd .game-sort img {
    vertical-align: text-top
}

#header .bd .game-sort a {
    color: #ffffff
}

#header .ft {
    background: #e7e7e7;
    line-height: 36px;
    height: 36px;
    border-bottom: 1px solid #ccc;
    padding-left: 210px;
    color: #666
}

#header .ft a {
    color: #666;
    margin: 0 6px
}

#header .ft a.active {
    color: #f98d5c;
    font-weight: bold
}

.main {
    overflow: auto;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 99px;
    bottom: 30px;
    _height: 100%;
    _position: relative;
    _top: 0;
    _bottom: 0
}

.main .iframe {
    height: 100%;
    width: 100%;
    vertical-align: top
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 28px;
    background: #F7F7F7;
    border-top: 1px solid #CECFCE;
    border-bottom: 1px solid #B5C7E7;
    line-height: 28px
}

.footer .more {
    float: right;
    width: 50px;
    text-align: center
}

.footer .mq {
    display: block;
    margin-right: 60px
}

.layer-custom .layui-layer-btn {
    text-align: center
}

.page-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.page-loading .mask {
    background: #fff;
    opacity: .3;
    filter: alpha(opacity=30);
    position: absolute;
    width: 100%;
    height: 100%
}

.page-loading .loading {
    background: url(/xypone/common/images/page-loading.gif) no-repeat;
    width: 100px;
    height: 9px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5px 0 0 -50px
}

.password .ft {
    padding: 10px 0 0;
    text-align: center
}

.login {
    height: 100%
}

.login .wrapper {
    height: 100%;
    width: 100%;
    max-width: 1920px;
    min-width: 1200px;
    overflow: auto;
    background: url("/xypone/common/images/bg_pc.jpg") no-repeat center top;
}

.login .wrapper .header {
    width: 100%
}

.login .wrapper .header .logo-content {
    width: 360px;
    margin-top: 20px
}

.login .wrapper .header .logo {
    width: 274px;
    height: 181px;
    background: url("/xypone/common/images/logo.png") no-repeat
}

.login .wrapper .container {
    width: 100%;
    color: #ffffff
}

.login .wrapper .container .text-hotel-system-cn {
    margin-top: 134px;
    font-size: 30px;
    color: #ff5843
}

.login .wrapper .container .input-content {
    margin-top: 44px;
    width: 360px
}

.login .wrapper .container .input-content .form-item {
    width: 329px;
    height: 56px;
    line-height: 56px;
    border-radius: 28px;
    border: 3px solid #ff5843;
    margin-bottom: 10px;
    padding-left: 15px;
    text-align: left
}

.login .wrapper .container .input-content .form-item input {
    font-size: 24px;
    border: none;
    outline: none;
    background-color: transparent;
    height: 50px;
    line-height: 50px;
    width: 245px;
    color: #fff
}

.login .wrapper .container .input-content .form-item input:-webkit-autofill, .login .wrapper .container .input-content .form-item input:-webkit-autofill:hover, .login .wrapper .container .input-content .form-item input:-webkit-autofill:focus, .login .wrapper .container .input-content .form-item input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important
}

.login .wrapper .container .input-content .form-item.hide {
    display: none
}

.login .wrapper .container .input-content .form-item #captcha {
    width: 150px
}

.login .wrapper .container .input-content .form-item #imgCaptcha {
    width: 105px;
    height: 42px;
    vertical-align: middle
}

.login .wrapper .container .input-content .account-ico, .login .wrapper .container .input-content .pws-ico, .login .wrapper .container .input-content .captcha-ico {
    width: 34px;
    height: 34px;
    vertical-align: middle
}

.login .wrapper .container .input-content .account-ico {
    background: url("/xypone/common/images/ico_user_front.png")
}

.login .wrapper .container .input-content .pws-ico {
    background: url("/xypone/common/images/ico_password_front.png")
}

.login .wrapper .container .input-content .captcha-ico {
    background: url("/xypone/common/images/ico_security_front.png")
}

.login .wrapper .container .submit-btn {
    width: 350px;
    height: 48px;
    line-height: 48px;
    border-radius: 24px;
    background: #ff5843;
    border: 0px;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bolder;
    -webkit-appearance: none
}

@media only screen and (max-device-width: 1024px) {
    .login {
        text-align: center
    }

    .login .wrapper {
        max-width: unset;
        min-width: unset;
        background: url("/xypone/common/images/bg_pc.jpg") no-repeat center top;
        background-size: cover
    }

    .login .wrapper .logo-content {
        margin-top: 10px
    }

    .login .wrapper .container {
        margin-left: unset
    }

    .login .wrapper .container .text-hotel-system-cn {
        margin-top: 70px;
        font-size: 30px
    }
}

.agreement {
    height: 100%;
    background: url(/xypone/common/images/img_gameprotocol_1.jpg) no-repeat center top;
    background-size: cover;
    overflow: auto
}

.agreement .header-image {
    height: 87px
}

.agreement .wrap {
    width: 1001px;
    height: 633px;
    margin: 0 auto;
    padding: 0 50px;
    background: url(/xypone/common/images/img_gameprotocol_2.png) no-repeat center top;
    font-size: 14px;
    color: #0c457d;
    font-weight: bolder
}

.agreement .wrap .hd {
    font-size: 18px;
    padding: 30px 0 20px;
    margin: auto;
    width: 90%;
    text-align: center;
    font-weight: bold;
    color: #cc0000;
    border-bottom: 1px solid #aaaaaa
}

.agreement .wrap .bd {
    padding: 20px 10px 20px 20px;
    margin: auto;
    line-height: 2;
    width: 90%;
    font-size: 14px
}

.agreement .wrap .ft {
    padding: 10px 0 20px;
    text-align: center
}

.game_sort .wrapper {
    text-align: center
}

.game_sort .Sortable {
    max-height: 510px;
    padding-top: 5px;
    overflow-y: auto
}

.game_sort .game-item-div {
    width: 185px;
    position: relative;
    display: inline-block;
    margin-top: 1px;
    text-align: left
}

.game_sort .move-content {
    float: right;
    display: inline-block;
    vertical-align: middle;
    height: 25px;
    line-height: 25px
}

.game_sort .moveup, .game_sort .movedown {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 3px;
    cursor: pointer
}

.game_sort .moveup {
    background: url("/xypone/common/images/ico_arrow-up.png")
}

.game_sort .movedown {
    background: url("/xypone/common/images/ico_arrow-down.png")
}

.game_sort .form-ft {
    padding: 10px;
    background: #FAE6D7;
    border-top: 1px solid #d1af87;
    text-align: center
}

.game_sort .game-setting {
    text-align: left;
    display: inline-block
}

.game_sort .game-setting img {
    vertical-align: text-bottom;
    margin-right: 4px
}

.BindOtp {
    font-weight: bolder
}

.BindOtp .ptb10 {
    padding-top: 10px;
    padding-bottom: 10px
}

.BindOtp .main-menu {
    position: relative
}

.BindOtp .main-menu .sub-menu {
    display: none;
    position: absolute;
    margin-top: 0px;
    background: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 0 5px 5px #999;
    padding: 20px 20px;
    left: -100px
}

.BindOtp .main-menu:hover .sub-menu {
    display: block
}

.BindOtp .not-editable {
    border: 0px;
    line-height: 20px
}
