em.error {
	background: url("../images/unchecked.gif") no-repeat 0px 0px;
	margin-left: 3px;
	padding-left: 16px;
	color: red;
}

em.success {
	background: url("../images/checked.gif") no-repeat 0px 0px;
	margin-left: 3px;
	padding-left: 16px;
	color: blue;
}

input.error {
	border: 1px dotted red;
}