<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:esun="" class="has-js">

	<head>
		<meta charset="utf-8" /><meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
		<title>【*号码分布】中国体育彩票*开奖号码结果信息、走势图、历史记录查询 - 168彩票开奖网</title>
		<meta name="keywords" content="极速11选5号码分布 ,极速11选5,极速11选5走势图,极速11选5开奖结果,极速11选5开奖信息"/>
		<meta name="description " content="168彩票开奖网极速11选5号码分布开奖栏目提供最新极速11选5号码分布开奖结果查询、极速11选5号码分布开奖号码走势、极速11选5号码分布开奖时间、极速11选5号码分布今天开奖信息，中国体育彩票极速11选5开奖号码结果信息、综合走势图、历史记录查询、现场开奖视频直播、遗漏技术软件分析预测网站"/>
		<link rel="stylesheet" href="../../css/headorfood.css?v=20227151437" />
		<link rel="stylesheet" href="../../css/klsf.css?v=20227151437" />
		<link rel="stylesheet" href="../../css/calendar.css?v=20227151437" />
		<link rel="shortcut icon" href="../../img/icon/168favicon.ico?v=20227151437">
		<link rel="stylesheet" href="../../css/user_adv.css?v=20227151437" />
		<script src="../../js/lib/bootstrap-3.3.0/js/tests/vendor/jquery.min.js"></script>
		<script src="../../js/lib/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="../../js/lib/jquery-1.7.2.min.js"></script>
	</head>

	<body>
		<div class="bodybox pk10lzzhfxymbox daxiaodsbox zsbox">
			<div id="headdivbox"></div>
			<div class="haomabox">
				<div class="waring" id="waringbox">
					<div class="flash"><i></i></div>
					温馨提示：因网络问题，开奖结果会有延迟，所以您需要去喝杯咖啡等一会儿！
				</div>
				<div class="haomaqu" id="shiyix5">
					<div class="haomaqu_resetPar">
						<div class="haomaqul">
							<div class="haomaline">
								<div class="haomaimg">
									<img class="iconUrl" />
								</div>
								<div class="numberqu">
									<div class="nuberqutit">
										<span class="klsf gamename"></span>第
										<span class="preDrawIssue"></span> 期开奖号码<input type="hidden" id="drawTime"><input type="hidden" id="sumNum" /><input type="hidden" id="sumSingleDouble" /><input type="hidden" id="sumBigSmall" />
									</div>
									<div class="kajianhaoPar">
										<div class="kajianhao" id="jnumber">
											<ul>
												<li class="numblueHead">1</li>
												<li class="numblueHead">3</li>
												<li class="numblueHead">2</li>
												<li class="numblueHead">4</li>
												<li class="numblueHead">6</li>
											</ul>
										</div>

									</div>
									<div class="line drawCountDiv">已开<span class="drawCount"></span>期，还有<span class="sdrawCount"></span>期</div>
								</div>
							</div>
						</div>
						<div class="haomaqur">
							<div class="haomaqur_l">
								<div class="line linetit">距<span class="nextIssue"></span>期开奖仅有</div>
								<div class="line linetime" id="timebox">
									<div class="opening opentyle">开奖中...</div>
									<div class="cuttime">
										<span class="bgtime hour">00</span>
										<span class="hourtxt">时</span>
										<span class="bgtime minute">00</span>
										<span>分</span>
										<span class="bgtime second">00</span>
										<span>秒</span>
									</div>
								</div>
							</div>
							<div class="line soundId haomaqur_r">
								<div class="soundline ifSoundSet" id="ifSoundOpen"></div>
								<!--关闭铃声-->
								<div class="soundline soundSet" id="soundSet"></div>
								<!--设置铃声-->
							</div>
							<div class="line margt20" id="startVideo">
								<img src="../../img/video/shiyix5_pic/11x5_jisu.jpg?v=20227151437"/>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="haomaqu_resetSon">
				<div class="homaline2">
					<div class="margt30 li_td">
						<ul class="zoushimap">
							<li>
								<a class="dhmenu" href="index.html">即时开奖</a>
							</li>
							<li>
								<a class="dhmenu" href="zonghelzfx.html">路珠分析</a>
							</li>
							<li>
								<a class="dhmenu" href="jibenzs.html">基本走势</a>
							</li>
							<li>
								<a class="dhmenu" href="lengrefx.html">冷热分析</a>
							</li>
							<li>
								<a class="dhmenu" href="longhuzs.html">龙虎走势</a>
							</li>
							<li>
								<a class="dhmenu" href="jinrihaomatj.html">今日号码统计</a>
							</li>
							<li>
								<a class="dhmenu" href="danshuangdxls.html">单双大小历史</a>
							</li>
							<li class="checked">
								<a class="dhmenu" href="haomafb.html">号码分布</a>
							</li>
							<li>
								<a class="dhmenu" href="meiricltj.html">每日长龙统计</a>
							</li>
							<li>
								<a class="dhmenu" href="zonghelz.html">总和路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="danshuangdxlz.html">单双大小路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="hezhizs.html">和值走势</a>
							</li>
							<li>
								<a class="dhmenu" href="dinweizs.html">定位走势</a>
							</li>
							<li>
								<a href="../wanfaguize/GD11x5_wanfaguize.html">玩法规则</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="zhlzbox margt20">
				<div class="listhead">
					<div class="listheadl">
						<span class="lmms"><i>3</i>号码分布</span>
					</div>
					<div class="listheadr">
						<div class="listheadrl">
							<span id="today">今天</span>
							<span id="yesterday">昨天</span>
							<span id="qianday">前天</span>
							<span id="thirty" class="checked">最近30期</span>
							<span id="sixty">最近60期</span>
							<span id="ninety">最近90期</span>
						</div>
						<!--<div class="listheadrr">
							<div class="rightime">
								<div id="dateframe">
									<input type="text" id="date" class="date" placeholder="">
									<div id="datebox"></div>
									<i class="dropicond"></i>
								</div>
							</div>
							<div>选择日期&nbsp;</div>
						</div>-->
					</div>
				</div>
				<div class="listbox">
					<div class="listbox_spread" id="listbox_spread">
						<div id="spreadDiv">
							<p id="prep"><i>说明：</i> 1 总分单双：5个开奖号码的数字总和相加的值是单数的为总和单，如数字总和值是11、31；所有5个开奖号码的数字总和相加的值是双数为总和双，如数字总和是42、30；<span></span> </p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 总分大小：5个开奖号码的数字总和相加的值是大于30为总和大；所有5个开奖号码的数字总和相加的值小于30为总和小，若总和值等于30为和 ；</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 尾大小：5个开奖号码的数字总和值的个位数大于等于5为总尾大，小于等于4为总尾小；</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4 总尾单双：5个开奖号码的数字总和值的尾数为单叫总尾单， 5个开奖号码的数字总和值的尾数为双叫总尾双；</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5 遗漏期数：自上期开出到本期间隔的期数；</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6 分 隔 线 ：每五期使用分隔线，使横向导航更加清晰；</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7 出现次数：统计周期内，某个号码的累计出现次数；</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8 平均遗漏：统计期数内遗漏的平均值（计算公式：平均遗漏＝统计期内的总遗漏数/(出现次数+1)）；</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9 最大遗漏：是指统计周期内所有遗漏值的最大值；</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10 最大连出：是指统计周期内所有连出值的最大值；</p>
						</div>
					</div>
					<div class="checkbox">
						<div id="biaozxz" class="checkbtnzh checkbtnmc">
							<ul>
								<li class="title">标注选择：</li>
								<li class="sinli checked"><i>1</i>
									<a href="javascript:void(0)">遗漏</a>
								</li>
								<!--<li class="sinli checked"><i>2</i>
									<a href="javascript:void(0)">拆线</a>
								</li>-->
								<li class="sinli"><i>3</i>
									<a href="javascript:void(0)">遗漏分成</a>
								</li>
								<li class="sinli"><i>4</i>
									<a href="javascript:void(0)">分隔线</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="listcontent">
						<div class="box">
							<div id="waitBox" class="bastren w1200">
								<div id="chartLinediv">
									<table id="trend_table2" width="100%" border="0" cellpadding="0" cellspacing="0"  style="display: table;">
										<thead>
											<tr class="first_th">
												<th width="80" rowspan="2" class="left_border left_b left_strong_down"><strong id="order" style="cursor:pointer;" type="desc">期号</strong></th>
												<th width="70" rowspan="2">开奖号码</th>
												<th colspan="11" height="38">号码分布</th>
												<th colspan="9" height="38">总分</th>
											</tr>
											<tr class="secondtd second_th">
												<th  width="28" height="33" class="nfw clthbr">01</th>
												<th  width="28" class="nfw">02</th>
												<th  width="28" class="nfw">03</th>
												<th  width="28" class="nfw">04</th>
												<th  width="28" class="nfw">05</th>
												<th  width="28" class="nfw">06</th>
												<th  width="28" class="nfw">07</th>
												<th  width="28" class="nfw">08</th>
												<th  width="28" class="nfw">09</th>
												<th  width="28" class="nfw">10</th>
												<th  width="28" class="nfw">11</th>
												<th  width="40" class="nfw">和值</th>
												<th  width="28" class="nfw">大</th>
												<th  width="28" class="nfw">小</th>
												<th  width="28" class="nfw">和</th>
												<th  width="28" class="nfw">单</th>
												<th  width="28" class="nfw">双</th>
												<th  width="28" class="nfw">和</th>
												<th  width="28" class="nfw">尾大</th>
												<th  width="28" class="nfw">尾小</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
								<div id="chartbottom" style="display: none;">
									<table>
										<tr class="first_th">
											<th width="276" rowspan="2" colspan="2" class="left_border left_b">统计类型</th>
											<th colspan="11">号码分布</th>
											<th colspan="9" height="38">总分</th>
										</tr>
										<tr class="second_th">
											<th class="nfw clthbr">01</th>
											<th class="nfw">02</th>
											<th class="nfw">03</th>
											<th class="nfw">04</th>
											<th class="nfw">05</th>
											<th class="nfw">06</th>
											<th class="nfw">07</th>
											<th class="nfw">08</th>
											<th class="nfw">09</th>
											<th class="nfw">10</th>
											<th class="nfw">11</th>
											<th class="nfw">和值</th>
											<th class="nfw">大</th>
											<th class="nfw">小</th>
											<th class="nfw">和</th>
											<th class="nfw">单</th>
											<th class="nfw">双</th>
											<th class="nfw">和</th>
											<th class="nfw">尾大</th>
											<th class="nfw">尾小</th>
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="fooderbox"></div>
			<div class="fixedgoBack">
				<div class="fix1200">
					<ul>
						<li>
							<a rel="nofollow" class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&uin=800057725&cref=http://www.168kai.cc&ref=&pt=168%E5%BC%80%E5%A5%96%E7%BD%91&f=1&ty=1&ap=&as="></a>
						</li>
						<li>
							<!--用户反馈模态框-->
						<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
							<span class="fankuicons"></span>
						</span>

						</li>
						<li>
							<a rel="nofollow" class="topicon" id="gotop" href="javascript:"></a>
						</li>
					</ul>
				</div>
			</div>
			<!--模态框-->
		<!-- 模态框（Modal） -->
		<div id="user_adv"></div>
		<div id="videobox">
		<div class="content">
			<div class="head">
				<span class="gamename"></span>开奖视频
				<div class="btn">
					<ul>
						<li class="closevideo"><i class="iconfont"></i></li>
						<li class="small">小屏</li>
						<li class="big">中屏</li>
					</ul>
				</div>
			</div>
			<div class="animate">
				<iframe class="videocz" style="height:100%;width:100%;border: none;" scrolling="no" src="../../js/lib/video/11x5_video/video11x5.html"></iframe>
			</div>
		</div>
	</div>

			<script type="text/javascript" src="../../js/lib/calendar.js"></script>
	</body>
	<script type="text/javascript" src="../../js/lib/config.js?v=20227151437"></script>
	<script type="text/javascript" src="../../js/lib/GA.js?v=20227151437"></script>
	<script type="text/javascript" src="../../js/loacal/animate/animate.js?v=20227151437"></script>
	<script type="text/javascript" src="../../js/loacal/shiyix5_sd/hamafb.js?v=20227151437"></script>
	<script type="text/javascript" charset="utf-8" src="../../js/lib/drawLines.js"></script>
	<script type="text/javascript" charset="utf-8" src="../../js/lib/jquery.async.js"></script>
	<script type="text/javascript" charset="utf-8" src="../../js/lib/pk10BaseTrend.js?v=20227151437"></script>
	<script type="text/javascript" src="../../js/loacal/shiyix5_gd/jisu11x5_kaijiang.js?v=20227151437"></script>
</html>