<html>

	<head>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
		<title>【北京PK10开奖结果】北京PK10开奖查询_北京PK10开奖号码 - 168彩票开奖网</title>
		<meta name="keywords" content="北京PK10开奖结果,北京PK10开奖信息,北京PK10开奖视频,北京PK10开奖走势图,北京PK10开奖数据,北京PK10开奖历史,北京PK10开奖查询,北京PK10开奖直播,北京PK10开奖号码,北京PK10开奖记录">
		<meta name="description " content="168彩票开奖网北京PK10开奖栏目提供最新北京PK10开奖结果查询、北京PK10开奖号码走势、北京PK10开奖时间、北京PK10今天开奖信息。">
		<link rel="stylesheet" href="/css/headorfood.css">
		<link rel="stylesheet" href="/css/user_adv.css">
		<link rel="stylesheet" href="/css/zsh_index.css">
		<link rel="shortcut icon" href="/img/icon/168favicon.ico">
		<link rel="stylesheet" href="/css/PK10ganto.css">
		<link rel="stylesheet" href="/css/calendar.css">
		<script src="/js/lib/bootstrap-3.3.0/js/tests/vendor/jquery.min.js"></script>
		<script src="/js/lib/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/lib/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="/js/loacal/animate/animate.js"></script>
	</head>

	<body>
		<div class="bodybox">
			<div id="headdivbox"></div>
			<div class="main">
				<div class="kaijibox" id="pk10kai">
					<div class="left kaititle">
						<dl>
							<dt>
								<img id="lotName_IMG" src="" alt="">
							</dt>
							<dd>
								<h3 class="change_lotName"></h3></dd>
							<dd>
								本期：<span class="preDrawIssue">    </span> 期
							</dd>
							<dd>
								今日推荐 <span class="pushball">  </span> 号球
							</dd>
						</dl>
					</div>
					<div class="left countDowm">
						<div class="countDownWrap">
							<h3>倒计时</h3>
							<div class="line linetime cuttime indextime" id="timebox">
								<span class="bgtime hour">  </span>
								<span class="hourtxt">时</span>
								<span class="bgtime minute">  </span>
								<span>分</span>
								<span class="bgtime second">  </span>
								<span>秒</span>
							</div>
							<p class="opentyle">开奖中...</p>
							<!--<span class="shi">09</span> 时
							<span class="fen">09</span> 分
							<span class="miao">09</span>-->
						</div>
						<span class="stopbox" style="display:none;text-align:center;width:100%;color: #ff0b0b;font-size:20px;height:170px;line-height:170px;background:#FFF;position:relative;top:-1.5rem;left:0.5rem;padding:1rem;border-radius:1rem;">停止销售</span>
					</div>
					<div class="left kaiNum">
						<h3>本期开奖</h3>
						<ul class="numberbox">
							<li class="numsm01">
							<li class="numsm02">
							<li class="numsm03">
							<li class="numsm04">
							<li class="numsm05">
							<li class="numsm06">
							<li class="numsm07">
							<li class="numsm08">
							<li class="numsm09">
							<li class="numsm10">
						</ul>
					</div>
					<div class="left huzong">
						<h3>汇总</h3>
						<p>
							<span class="firs_span">今日累计：<span class="sum_result">0</span> 分 </span>
							<span class="jsVal">距离目标：<span class="sum_target">50</span></span>
						</p>
					</div>
				</div>
				<div class="kaijiLi">
					<div class="change_til">
						<div class="ch-left">
							<h3><span class="change_lotName">北京PK10</span>推荐记录</h3>
						</div>
						<div class="ch-right">
							<div class="listheadrr">
								<div class="rightime">
									<div id="dateframe">
										<input type="text" class="date" placeholder="">
										<div id="datebox"></div>
										<i class="dropicond"></i>
									</div>
								</div>
								<div class="date_text">选择日期 </div>
							</div>
							<div class="btnBox">
								<button class="btn_red">查询</button>
								<!--<button class="btn_yellow">推荐历史</button>-->
							</div>
						</div>
					</div>
					<div class="result_Box">
						<table border="0" cellspacing="1" cellpadding="1" id="result_table">
							<tr class="th_til">
								<th>时间</th>
								<th>开奖期号</th>
								<th>开奖结果</th>
								<th>球号</th>
								<th>大小</th>
								<th>跟投</th>
								<th>单双</th>
								<th>跟投</th>
								<th>得分</th>
								<th>累计</th>
							</tr>
							<!--<tr>
								<td>2018-03-14 15：16：00</td>
								<td>35567期</td>
								<td>
									<ul>
										<li class="numsm01"></li>
										<li class="numsm02 push"></li>
										<li class="numsm03"></li>
										<li class="numsm04"></li>
										<li class="numsm05"></li>
										<li class="numsm06"></li>
										<li class="numsm07"></li>
										<li class="numsm08"></li>
										<li class="numsm09"></li>
										<li class="numsm10"></li>
									</ul>
								</td>
								<td>2球</td>
								<td class="oth_cla"><span>大</span><span>输2分</span></td>
								<td>5分</td>
								<td class="oth_cla"><span>双</span><span style="color:#FD3A3A">赢2分</span></td>
								<td>5分</td>
								<td>5分</td>
								<td>?</td>
							</tr>-->
						</table>
					</div>
				</div>
			</div>

			<div id="fooderbox"></div>
			<div class="fixedgoBack">
				<div class="fix1200">
					<ul>
						<li>
							<a rel="nofollow" class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&amp;uin=800057725&amp;cref=http://www.168kai.cc&amp;ref=&amp;pt=168%E5%BC%80%E5%A5%96%E7%BD%91&amp;f=1&amp;ty=1&amp;ap=&amp;as="></a>
						</li>
						<li>
							<!--用户反馈模态框-->
							<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
							<span class="fankuicons"></span>
							</span>

						</li>
						<li>
							<a rel="nofollow" class="topicon" id="gotop" href="javascript:"></a>
						</li>
					</ul>
				</div>
			</div>

			<!--模态框-->
			<!-- 模态框（Modal） -->
			<div id="user_adv"></div>
			<div class="completeTarget">
				<div id="tost_img">
					<button class="close_target">
			 			<!--<img src="../../img/index_r/close.png?v=202271514373" alt="">-->
			 		</button>
				</div>
			</div>
		</div>
		<script>
			var bgSelect = setInterval(function() {
				$("#new_zhao").addClass("li_checked").siblings().removeClass("li_checked");
				if($(".new_zhao").length != 0) {
					clearInterval(bgSelect);
				}
			}, 200)
		</script>
	</body>
	<script type="text/javascript" src="/js/lib/config.js"></script>
	<script type="text/javascript" src="/js/lib/GA.js"></script>
	<script type="text/javascript" src="/js/lib/calendar.js"></script>
	<script type="text/javascript" src="/js/loacal/zhuiShaHao/pk10ganto.js"></script>

</html>