@CHARSET "UTF-8";

#drawTable table {
	width: 100%;
}

#drawTable .page_info {
	width: 600px;
}

.split_panels {
	float: none;
}

.split_panels table {
	float: left;
	width: 187.25px;
	margin: 10px 1.5px 0 0;
}

.split_panels .name {
	width: 47px;
}

.split_panels .odds {
	width: 70px;
}

.table_ball .odds {
	width: 70px;
}

.table_zh .name {
	width: 57px;
}

.table_zh .odds {
	width: 70px;
}

.table_ball .name {
	width: 47px;
}

.table_ball .name span,#drawInfo .balls b {
	background: url("images/ball_1.png") no-repeat;
	display: inline-block;
	width: 27px;
	height: 27px;
	font-size: 0px;
	text-indent: -99999px;
	margin-top: 4px;
}

.table_ball .name .b01,#drawInfo .balls .b01 {
	background-position: 0 0;
}

.table_ball .name .b02,#drawInfo .balls .b02 {
	background-position: 0 -27px;
}

.table_ball .name .b03,#drawInfo .balls .b03 {
	background-position: 0 -54px;
}

.table_ball .name .b04,#drawInfo .balls .b04 {
	background-position: 0 -81px;
}

.table_ball .name .b05,#drawInfo .balls .b05 {
	background-position: 0 -108px;
}

.table_ball .name .b06,#drawInfo .balls .b06 {
	background-position: 0 -135px;
}

.table_ball .name .b07,#drawInfo .balls .b07 {
	background-position: 0 -162px;
}

.table_ball .name .b08,#drawInfo .balls .b08 {
	background-position: 0 -189px;
}

.table_ball .name .b09,#drawInfo .balls .b09 {
	background-position: 0 -216px;
}

.table_ball .name .b10,#drawInfo .balls .b10 {
	background-position: 0 -243px;
}

.table_ball .name .b11,#drawInfo .balls .b11 {
	background-position: 0 -270px;
}

.table_ball .name .b12,#drawInfo .balls .b12 {
	background-position: 0 -297px;
}

.table_ball .name .b13,#drawInfo .balls .b13 {
	background-position: 0 -324px;
}

.table_ball .name .b14,#drawInfo .balls .b14 {
	background-position: 0 -351px;
}

.table_ball .name .b15,#drawInfo .balls .b15 {
	background-position: 0 -378px;
}

.table_ball .name .b16,#drawInfo .balls .b16 {
	background-position: 0 -405px;
}

.table_ball .name .b17,#drawInfo .balls .b17 {
	background-position: 0 -432px;
}

.table_ball .name .b18,#drawInfo .balls .b18 {
	background-position: 0 -459px;
}

.table_ball .name .b19,#drawInfo .balls .b19 {
	background-position: 0 -486px;
}

.table_ball .name .b20,#drawInfo .balls .b20 {
	background-position: 0 -513px;
}

.L_XYNC .table_ball .name span,.L_XYNC  #drawInfo .balls b {
	background: url("images/ball_nc.png") no-repeat;
	width: 32px;
	height: 32px;
	margin: 0;
}

.L_XYNC .table_ball .name .b01,.L_XYNC #drawInfo .balls .b01 {
	background-position: 0 0;
}

.L_XYNC .table_ball .name .b02,.L_XYNC #drawInfo .balls .b02 {
	background-position: 0 -33px;
}

.L_XYNC .table_ball .name .b03,.L_XYNC #drawInfo .balls .b03 {
	background-position: 0 -66px;
}

.L_XYNC .table_ball .name .b04,.L_XYNC #drawInfo .balls .b04 {
	background-position: 0 -99px;
}

.L_XYNC .table_ball .name .b05,.L_XYNC #drawInfo .balls .b05 {
	background-position: 0 -132px;
}

.L_XYNC .table_ball .name .b06,.L_XYNC #drawInfo .balls .b06 {
	background-position: 0 -165px;
}

.L_XYNC .table_ball .name .b07,.L_XYNC #drawInfo .balls .b07 {
	background-position: 0 -198px;
}

.L_XYNC .table_ball .name .b08,.L_XYNC #drawInfo .balls .b08 {
	background-position: 0 -231px;
}

.L_XYNC .table_ball .name .b09,.L_XYNC #drawInfo .balls .b09 {
	background-position: 0 -264px;
}

.L_XYNC .table_ball .name .b10,.L_XYNC #drawInfo .balls .b10 {
	background-position: 0 -297px;
}

.L_XYNC .table_ball .name .b11,.L_XYNC #drawInfo .balls .b11 {
	background-position: 0 -330px;
}

.L_XYNC .table_ball .name .b12,.L_XYNC #drawInfo .balls .b12 {
	background-position: 0 -363px;
}

.L_XYNC .table_ball .name .b13,.L_XYNC #drawInfo .balls .b13 {
	background-position: 0 -396px;
}

.L_XYNC .table_ball .name .b14,.L_XYNC #drawInfo .balls .b14 {
	background-position: 0 -429px;
}

.L_XYNC .table_ball .name .b15,.L_XYNC #drawInfo .balls .b15 {
	background-position: 0 -462px;
}

.L_XYNC .table_ball .name .b16,.L_XYNC #drawInfo .balls .b16 {
	background-position: 0 -495px;
}

.L_XYNC .table_ball .name .b17,.L_XYNC #drawInfo .balls .b17 {
	background-position: 0 -528px;
}

.L_XYNC .table_ball .name .b18,.L_XYNC #drawInfo .balls .b18 {
	background-position: 0 -561px;
}

.L_XYNC .table_ball .name .b19,.L_XYNC #drawInfo .balls .b19 {
	background-position: 0 -594px;
}

.L_XYNC .table_ball .name .b20,.L_XYNC #drawInfo .balls .b20 {
	background-position: 0 -627px;
}

#resultPanel .ballTable .head .b19,#resultPanel .ballTable .head .b20 {
	color: red;
}

.balls_panel {
	width: auto;
}

.balls_panel .table_ball td {
	height: 27px;
}

#fastBetChoose p {
	color: red;
}

.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #888;
	opacity: 0.3;
}

.ui-front {
	z-index: 100;
}

.ui-dialog {
    position: absolute;
    height: auto;
    width: 500px;
    top: 40px;
    left: 300px;
    display: block;
    z-index: 101;
	border: 5px solid #DF678D;
	background: white;

}

.ui-dialog .ui-widget .ui-widget-content{
	position: absolute;
	height: auto;
	width: 500px;
	top: 40px;
	left: 300px;
	display: block;
	z-index: 101;
	border: 5px solid #DF678D;
	background: white;
}

.ui-dialog-titlebar {
	padding: 4px 0;
	line-height: 16px;
}

.ui-dialog-icon {
	display: inline-block;
	background-position: -52px -52px;
	height: 11px;
	width: 14px;
	margin: 0 4px 0 10px;
}

.ui-dialog-title {
	font-size: 13px;
	font-weight: 700;
	color: #B30B00;
	margin-left: 7px;
}

.ui-dialog-titlebar-close {
	background-position: -52px -42px;
	height: 9px;
	width: 11px;
	border: none;
	margin: 3px 4px 0 0;
	padding: 0;
	float: right;
	text-indent: 99999px;
	font-size: 0;
}

.ui-dialog-buttonset {
	border: 1px solid white;
	text-align: center;
	padding: 8px 0;
}

.ui-dialog-buttonset .ui-button {
	border: none;
	width: 66px;
	line-height: 18px;
	margin-right: 5px;
	color: #fff;
	letter-spacing: 3px;
	padding-top: 3px;
}

.ui-dialog-buttonset .ui-state-hover {
	background-position: 0 -19px;
	color: #FFE400;
	font-weight: bold;
}

.skin_blue .ui-dialog-title {
	color: #35406d;
}

.skin_blue .ui-dialog {
	border-color: #6C8AC2;
}

.skin_blue .ui-dialog-content {
	border-bottom: 1px solid #b9c2cb;
}

.skin_blue .ui-dialog-buttonset {
	background: #edf4fe;
}

.skin_blue .ui-dialog-titlebar {
	background: url("images/blue/openwinbg.png") repeat-x top;
}

.skin_blue .ui-dialog-icon,.skin_blue .ui-dialog-titlebar-close {
	background-image: url("images/blue/btn.png");
}

.skin_blue .ui-dialog-content {
	padding: 8px 8px 16px 8px;
}

.skin_blue .ui-dialog-buttonset .ui-button {
	background: linear-gradient(to bottom, #2b91d9 0%, #1375b1 100%);
	border: 1px solid #1b4e88;
	color: #fff;
}

.ui-dialog-buttonset .ui-button{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#fastBetSettingTh{
	color : #ff6e39;
	border : none;
	cursor: pointer;
	padding-left: 35px;
	padding-right: 12px;
	padding-top: 5px;
}

#fastBetSetting{
	background: url("../images/fastbetsetting.png") no-repeat 2px 2.5px;
	background-size: 12% 80%;
}

#fastBetChoose ul{
	-webkit-column-count: 4; /* Chrome, Safari */
	-moz-column-count: 4; /* Firefox */
	column-count: 4;
}

ul li {
	list-style: none outside none;
}

.result_button {
	cursor:pointer;
	border-radius: 5px;
	border: 1px solid gray;
}
.num_button {
	float:left;
	margin-right: 2px;
	width:34px;
}

.result_button:hover {
	background-color:#2161b3;
	color:white;
}

#KLSFResult .other{
	padding:4px 0 0 0;
}
#KLSFResult .GLHT_L, #KLSFResult .GLHT_H, #KLSFResult .GLHT_T {
	padding:0;
	text-align:center;
}

.table_ball .big_small .b1, .table_ball .big_small .b2, .table_ball .big_small .b3, .table_ball .big_small .b4, .table_ball .big_small .b5,
.table_ball .big_small .b6, .table_ball .big_small .b7, .table_ball .big_small .b8, .table_ball .big_small .b9, .table_ball .big_small .b10 {
	background-position: 0 -27px;
}

.table_ball .big_small .b11, .table_ball .big_small .b12, .table_ball .big_small .b13, .table_ball .big_small .b14, .table_ball .big_small .b15,
.table_ball .big_small .b16, .table_ball .big_small .b17, .table_ball .big_small .b18, .table_ball .big_small .b19, .table_ball .big_small .b20{
	background-position: 0 0;
}

.table_ball .odd_even .b1, .table_ball .odd_even .b3, .table_ball .odd_even .b5, .table_ball .odd_even .b7, .table_ball .odd_even .b9,
.table_ball .odd_even .b11, .table_ball .odd_even .b13, .table_ball .odd_even .b15, .table_ball .odd_even .b17, .table_ball .odd_even .b19{
	background-position: 0 -54px;
}

.table_ball .odd_even .b2, .table_ball .odd_even .b4, .table_ball .odd_even .b6, .table_ball .odd_even .b8, .table_ball .odd_even .b10,
.table_ball .odd_even .b12, .table_ball .odd_even .b14, .table_ball .odd_even .b16, .table_ball .odd_even .b18, .table_ball .odd_even .b20{
	background-position: 0 -81px;
}

.table_ball .big_small span, .table_ball .odd_even span {
	background: url("images/SSC_dx.png") no-repeat;
	width: 24px;
	height: 27px;
	margin: 0 1px;
	font-size: 0px;
	text-indent: -99999px;
	display: inline-block;
	margin-top: 4px;
	padding-left:1px;
}