<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" /><meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
		<title>【*冷热分析】*开奖号码 开奖结果查询 - 168彩票开奖网</title>
		<meta name="keywords" content="极速赛车冷热分析"/>
		<meta name="description " content="168彩票开奖网极速赛车冷热分析开奖栏目提供最新极速赛车冷热分析开奖结果查询、极速赛车冷热分析开奖号码走势、极速赛车冷热分析开奖时间、极速赛车冷热分析今天开奖信息。"/>
		<link rel="stylesheet" href="../../css/headorfood.css?v=20227151437" />
		<link rel="stylesheet" href="../../css/pk10kai.css?v=20227151437" />
		<link rel="stylesheet" href="../../css/calendar.css?v=20227151437" />
		<link rel="shortcut icon" href="../../img/icon/168favicon.ico?v=20227151437">
		<link rel="stylesheet" href="../../css/user_adv.css?v=20227151437" />
		<script src="../../js/lib/bootstrap-3.3.0/js/tests/vendor/jquery.min.js"></script>
		<script src="../../js/lib/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/lib/jquery-1.7.2.min.js"></script>
	</head>

	<body>
		<div class="bodybox pk10lzzhfxymbox zsbox">
			<div id="headdivbox"></div>
			<div class="haomabox">
				<div class="waring" id="waringbox">
					<div class="flash"><i></i></div>
					温馨提示：因网络问题，开奖结果会有延迟，所以您需要去喝杯咖啡等一会儿！
				</div>
				<div class="haomaqu" id="pk10">
					<div class="haomaqu_resetPar">
						<div class="haomaqul">
							<div class="haomaline">
								<div class="haomaimg">
									<img class="iconUrl" />
								</div>
								<div class="numberqu">
									<div class="nuberqutit">
										<span class="pk10tit gamename"></span>第
										<span class="preDrawIssue"></span> 期开奖号码
									</div>
									<div class="kajianhaoPar">
										<div class="kajianhao">
											<ul id="jnumber" class="numberbox">
												<li class="numsm02 "></li>
												<li class="numsm01 "></li>
												<li class="numsm10 "></li>
												<li class="numsm04 "></li>
												<li class="numsm03 "></li>
												<li class="numsm06 "></li>
												<li class="numsm07 "></li>
												<li class="numsm08 "></li>
												<li class="numsm05 "></li>
												<li class="numsm09 li_after"></li>
											</ul>
										</div>

									</div>
									<div class="line drawCountDiv">已开<span class="drawCount"></span>期，还有<span class="sdrawCount"></span>期</div>
								</div>
							</div>
							<div style="display: none;">
								<table>
									<tr class="longhu">
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="sumFS"></td>
										<td class="sumBigSamll"></td>
										<td class="sumSingleDouble"></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="haomaqur">
							<div class="haomaqur_l">
								<div class="line linetit">距<span class="nextIssue"></span>期开奖仅有</div>
								<div class="line linetime" id="timebox">
									<div class="opening opentyle">开奖中...</div>
									<div class="cuttime">
										<span class="bgtime hour">00</span>
										<span class="hourtxt">时</span>
										<span class="bgtime minute">00</span>
										<span>分</span>
										<span class="bgtime second">00</span>
										<span>秒</span>
									</div>
								</div>
							</div>
							<div class="line soundId haomaqur_r">
								<div class="soundline ifSoundSet" id="ifSoundOpen"></div>
								<!--关闭铃声-->
								<div class="soundline soundSet" id="soundSet"></div>
								<!--设置铃声-->
							</div>
							<div class="line margt20" id="startVideo">
								<img src="../../img/video/PK10_pic/jisusc_video.jpg?v=20227151437" />
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="haomaqu_resetSon">
				<div class="homaline2">
					<div class="margt30 li_td">
						<ul class="zoushimap">
							<li>
								<a class="dhmenu" href="pk10kai.html">即时开奖</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10kai_luzhufxzh.html">路珠分析</a>
							</li>
							<li class="checked">
								<a class="dhmenu" href="pk10_lenrefx.html">冷热分析</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_longhulz.html">龙虎路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_liangmsjtj.html">两面统计</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_meiricltj.html">长龙统计</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_longhutj.html">龙虎统计</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_guanyahlz.html">冠亚和路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_guanyahezs.html">冠亚和走势</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_haomazs.html">号码走势</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_daxiaods.html">单双大小路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_weizhizs.html">位置走势</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_danshuangdxls.html">单双大小历史</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_haomaqhlz.html">号码前后路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_guanyahelmls.html">冠亚和两面历史</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_haomagltj.html">号码规律统计</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_jinrihmtj.html">今日号码统计</a>
							</li>
							<li>
								<a href="../wanfaguize/PK10_wanfaguize.html">玩法规则</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="zhlzbox margt20">
				<div class="listhead">
					<div class="listheadl">
						<span class="lmms"><i>3</i>冷热分析</span>
					</div>
					<div class="listheadr">
					</div>
				</div>
				<div class="listbox">
					<div class="checkbox">
						<div id="lmms" class="checkbtnzh checkbtnmc noboder">
							<ul class="lrul">
								<li class="sinli"><i>1</i>
									<a href="javascript:void(0)">显示热号码出现次数</a>
								</li>
							</ul>
							<ul class="titleinfor">
								<li class="paddl0 inforcolor">
									近20期内 热码：出现频繁、活跃的号码；冷码：出现频率低甚至没有出现的号码；温码：介于冷热之间的号码。
								</li>
							</ul>
						</div>
					</div>
					<div class="listcontent nomargin">
						<div class="box">
							<div class="bastren w1200 noboder">
								<table id="lensetable" width="" border="0" cellpadding="0" cellspacing="0">
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="fooderbox"></div>
			
		</div>
		<div class="fixedgoBack">
			<div class="fix1200">
				<ul>
					<li>
						<a rel="nofollow" class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&uin=800057725&cref=http://www.168kai.cc&ref=&pt=168%E5%BC%80%E5%A5%96%E7%BD%91&f=1&ty=1&ap=&as="></a>
					</li>
					<li>
						<!--用户反馈模态框-->
						<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
							<span class="fankuicons"></span>
						</span>

					</li>
					<li>
						<a rel="nofollow" class="topicon" id="gotop" href="javascript:"></a>
					</li>
				</ul>
			</div>
		</div>
		
		<!--模态框-->
		<!-- 模态框（Modal） -->
		<div id="user_adv"></div>
		<div id="videobox">
			<div class="content">
				<div class="head">
					<span class="gamename"></span>开奖视频
					<div class="btn">
						<ul>
							<li class="closevideo"><i class="iconfont"></i></li>
							<li class="small">小屏</li>
							<li class="big">中屏</li>
						</ul>
					</div>
				</div>
				<div class="animate">
					<div class="loading_jisusc"></div>
					<iframe class="videocz" style="height:100%;width:100%;border: none;" src="../../js/lib/finishAnimation/jisusc_index.html"></iframe>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="../../js/lib/calendar.js"></script>
	</body>
	<script type="text/javascript" src="../../js/lib/config.js?v=20227151437"></script>
	<script type="text/javascript" src="../../js/loacal/animate/animate.js?v=20227151437"></script>
	<script type="text/javascript" src="../../js/lib/GA.js?v=20227151437"></script>
	<script type="text/javascript" src="../../js/loacal/pk10/pk10_lenrefx.js?v=20227151437"></script>
	<script type="text/javascript" src="../../js/loacal/pk10/jishushaiche_kai.js?v=20227151437"></script>
</html>