<html>

	<head>
		<meta charset="utf-8">
		<meta name="format-detection" content="telephone=no">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
		<title>专家推荐</title>
		<meta name="keywords" content="北京PK10开奖结果,北京PK10开奖信息,北京PK10开奖视频,北京PK10开奖走势图,北京PK10开奖数据,北京PK10开奖历史,北京PK10开奖查询,北京PK10开奖直播,北京PK10开奖号码,北京PK10开奖记录">
		<meta name="description " content="168彩票开奖网北京PK10开奖栏目提供最新北京PK10开奖结果查询、北京PK10开奖号码走势、北京PK10开奖时间、北京PK10今天开奖信息。">
		<link rel="stylesheet" href="/css/headorfood.css">
		<link rel="stylesheet" href="/css/user_adv.css">
		<link rel="stylesheet" href="/css/zhuiShaHao.css">
		<link rel="stylesheet" href="/css/zx_index.css">
		<link rel="shortcut icon" href="/img/icon/168favicon.ico">
		<link rel="stylesheet" href="/css/zsh_index.css">
		<link rel="stylesheet" href="/css/calendar.css">
		<script src="/js/lib/bootstrap-3.3.0/js/tests/vendor/jquery.min.js"></script>
		<script src="/js/lib/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/lib/jquery-1.7.2.min.js"></script>
	</head>

	<body>
		<div class="bodybox">
			<div id="headdivbox"></div>
			<div id="bgColor" class="pk10Style expert_bg">
				<div class="kaijiangjl margt20" id="bgStyle">
					<div class="headInfo bannerBg expert_bg">
						<div class="scaleDiv">
							<div id="leftListDiv">
								<div class="leftList leftList_active" id="leftL_pk10">
									<div class="bg_head"></div>
									<ul>
										<!-- <li id="pk10" class="pk10Yellow check_exp">北京PK10</li> -->
										
										<li id="sgAirship">SG飞艇</li>
										<li id="xingyft">幸运飞艇</li>
										<li id="jisusc">极速赛车</li>
										<li id="jisuft">极速飞艇</li>
										<li id="aozxy10">澳洲幸运10</li>
										<li id="uklotto10">英国乐透10</li>
									</ul>
									<span id="backTop" class="backTop"></span>
								</div>
							</div>
							<div class="detailMess" id="detailMess">
								<div class="logoBox">
									<img id="logoImage" src="/img/zshImage/PK10/PK10.png" alt="">
								</div>
								<div class="numberqu">
									<div class="nuberqutit">
										<span class="pk10tit">北京PK10</span>第
										<span class="preDrawIssue"></span> 期
									</div>
									<div class="kajianhaoPar">
										<div class="kajianhao">
											<ul id="jnumber" class="numberbox">
												<!--<li class="numsm08 "></li>
												<li class="numsm09 "></li>
												<li class="numsm06 "></li>
												<li class="numsm05 "></li>
												<li class="numsm07 "></li>
												<li class="numsm04 "></li>
												<li class="numsm02 "></li>
												<li class="numsm10 "></li>
												<li class="numsm03 "></li>
												<li class="numsm01 li_after"></li>-->
											</ul>
										</div>

									</div>
									<div class="line drawCountDiv">当前<span class="drawCount">0</span>期，剩余<span class="sdrawCount">0</span>期</div>
								</div>
								<div class="haomaqur_l">
									<div class="line linetit">开奖倒计时</div>
									<div class="line linetime" id="timebox">
										<div id="openStyle" class="opening opentyle">开奖中...</div>
										<div id="kaiStyle" class="cuttime" style="display: none;">
											<div id="hourDiv">
												<span id="horFir" class="bgtime hour">0</span>
												<span id="horSec" class="bgtime hour">0</span>
												<span class="hourtxt">时</span>
											</div>
											<div id="minDiv">
												<span id="minFir" class="bgtime minute">0</span>
												<span id="minSec" class="bgtime minute">0</span>
												<span>分</span>
											</div>
											<div id="seconDiv" style="display: none;">
												<span id="secFir" class="bgtime second">0</span>
												<span id="secTwo" class="bgtime second">0</span>
												<span>秒</span>
											</div>
										</div>
									</div>
									<span class="stopbox" style="display:none;text-align:center;width:100%;color: #ff0b0b;font-size:20px;height:170px;line-height:170px;background:#FFF;position:relative;top:-1.6rem;left:3.8rem;padding:1rem;border-radius:1rem;">停止销售</span>
								</div>

								<div class="twoScreens">
									<ul>
										<li class="meci">
											<span>名次选择</span>
											<span class="sele_val">冠军</span>
											<ol class="ex_pk10">
												<li class="checkol_li" data-value="1">冠军</li>
												<li data-value="2">亚军</li>
												<li data-value="3">第三名</li>
												<li data-value="4">第四名</li>
												<li data-value="5">第五名</li>
												<li data-value="6">第六名</li>
												<li data-value="7">第七名</li>
												<li data-value="8">第八名</li>
												<li data-value="9">第九名</li>
												<li data-value="10">第十名</li>
												<li data-value="0" data-text="dxdx">冠亚和</li>
											</ol>
										</li>
										<li class="mart_15 wanfa">
											<span>玩法选择</span>
											<span class="sele_val">定码</span>
											<ol>
												<li data-value="0" class="checkol_li">定码</li>
												<li data-value="1">杀码</li>
												<li data-value="2" class="dxdx">大小</li>
												<li data-value="3" class="dxdx">单双</li>
												<li data-value="4" class="lilh">龙虎</li>
											</ol>
										</li>
									</ul>
								</div>
							</div>

						</div>
					</div>
					<div class="setBg">
						<div class="expert_content">
							<div class="change_Tj">
								<i></i>
								<span>专家推荐列表</span>
								<i></i>
							</div>
							<div class="view_content">
								<table border="0" cellspacing="1" cellpadding="0">
									<thead>
										<tr>
											<th>专家</th>
											<th>码数</th>
											<th class="acc" data-value="winningProbability">正确率 <span class="toup check_th" data-value="asc"></span><span data-value="desc" class="todown"></span></th>
											<th class="current" data-value="continuousWin">当前连中 <span class="toup" data-value="asc"></span><span data-value="desc" class="todown"></span></th>
											<th>当前推荐</th>
											<th>详细计划</th>
										</tr>
									</thead>
									<tbody>
										<!--<tr>
											<td>猴子</td>
											<td>10</td>
											<td>99.8%</td>
											<td>13</td>
											<td>1，2，3，4，5，6，7，8，9，10</td>
											<td>
												<a class="detail_a" href="#">查看</a>
											</td>
										</tr>-->
									</tbody>

								</table>
							</div>
						</div>
					</div>
				</div>
				<div id="fooderbox"></div>
			</div>
			<!-- 模态框（Modal） -->
			<div id="user_adv"></div>
		</div>
		<div class="detail_bg">
			<div class="detail_view">
				<p class="scrl_top"><span>计划推荐详情</span> <i class="cli_close"></i></p>
				<div class="detail_cont">
					<h1>专家 :  <span class="orange_text zzName"></span> <span class="detail_tpye">[_]</span></h1>
					<table border="0" cellspacing="0" cellpadding="0" class="tab_head1">
						<tr>
							<td>当前周期预测: <span class="ora_tx dqzqyc">0</span></td>
							<td>码数：<span class="ora_tx">0</span> 个</td>
						</tr>
						<tr>
							<td>计划期数： <span class="ora_tx planCount">0</span>期</td>
							<td>现第 <span class="ora_tx">0</span> 期</td>
						</tr>
						<tr>
							<td colspan="2">当前计划状态：<span class="ora_tx checkBfb">0</span>正确率</td>
						</tr>
					</table>
					<table class="tab_head2" border="0" cellpadding="0" cellspacing="1">
						<thead>
							<tr>
								<td colspan="8">最近100个周期</td>
							</tr>
							<tr>
								<td>错误</td>
								<td>最大连中</td>
								<td>当前连中</td>
								<td>最大连错</td>
								<td>当前连错</td>
								<td>第1期中</td>
								<td>第2期中</td>
								<td>第3期中</td>
							</tr>
						</thead>
						<tbody>
							<!--<tr>
								<td>10个</td>
								<td>10个</td>
								<td>10个</td>
								<td>10个</td>
								<td>10个</td>
								<td>10次</td>
								<td>10次</td>
								<td>10次</td>
							</tr>-->
						</tbody>
					</table>
					<div class="tab_vis">
						<table class="tab_count" border="0" cellpadding="0" cellspacing="1">
							<thead>
								<tr>
									<th>计划期间</th>
									<th>最终截止</th>
									<th>计划结果</th>
									<th>推荐号码</th>
								</tr>
							</thead>
							<tbody>
								<!--<tr>
									<td>第005-007期</td>
									<td>第一期-20190625期-5,4,6,7,9</td>
									<td><span class="green_sp">中</span></td>
									<td class="both_tx">
										<span class="green_ts">5</span>,
										<span>4</span>,
										<span>6</span>,
										<span>7</span>,
										<span>9</span>
									</td>
								</tr>
								<tr>
									<td>第005-007期</td>
									<td>第一期-20190625期-5,4,6,7,9</td>
									<td><span class="red_sp">错</span></td>
									<td class="both_tx">
										<span>5</span>,
										<span>4</span>,
										<span>6</span>,
										<span class="green_ts">7</span>,
										<span class="green_ts">9</span>
									</td>
								</tr>-->
							</tbody>

						</table>
					</div>
				</div>
			</div>
		</div>
		<script>
			var bgSelect = setInterval(function() {
				$("#zhusaHao_li").addClass("li_checked").siblings().removeClass("li_checked");
				if($(".zhusaHao_li").length != 0) {
					clearInterval(bgSelect);
				}
			}, 200)
		</script>
	</body>
	<script type="text/javascript" src="/js/lib/config.js"></script>
	<script type="text/javascript" src="/js/lib/GA.js"></script>
	<!--<script type="text/javascript" src="../../js/lib/calendar.js"></script>-->
	<script type="text/javascript" src="/js/loacal/animate/animate.js"></script>
	<script type="text/javascript" src="/js/loacal/zhuiShaHao/expert_all.js"></script>

</html>