<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" /><meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
		<title>【*单双大小历史】中国福利彩票*开奖号码结果、走势图、历史记录查询 - 168彩票开奖网</title>
		<meta name="keywords" content="极速快乐十分单双大小历史 ,极速快乐十分开奖记录,极速快乐十分走势,极速快乐十分开奖直播"/>
		<meta name="description " content="168彩票开奖网极速快乐十分单双大小历史开奖栏目提供最新极速快乐十分单双大小历史开奖结果查询、极速快乐十分单双大小历史开奖号码走势、极速快乐十分单双大小历史开奖时间、极速快乐十分单双大小历史今天开奖信息,中国福利彩票极速快乐十分开奖号码结果、综合走势图、历史记录查询、现场开奖视频直播、软件分析预测网站。"/>
		<link rel="stylesheet" href="../../css/headorfood.css?v=2022815117" />
		<link rel="stylesheet" href="../../css/klsf.css?v=2022815117" />
		<link rel="stylesheet" href="../../css/calendar.css?v=2022815117" />
		<link rel="shortcut icon" href="../../img/icon/168favicon.ico?v=2022815117">
		<link rel="stylesheet" href="../../css/user_adv.css?v=2022815117" />
		<script src="../../js/lib/bootstrap-3.3.0/js/tests/vendor/jquery.min.js"></script>
		<script src="../../js/lib/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="../../js/lib/jquery-1.7.2.min.js"></script>
	</head>

	<body>
		<div class="bodybox pk10lzzhfxymbox zsbox">
			<div id="headdivbox"></div>
			<div class="haomabox">
				<div class="waring" id="waringbox">
					<div class="flash"><i></i></div>
					温馨提示：因网络问题，开奖结果会有延迟，所以您需要去喝杯咖啡等一会儿！
				</div>
				<div class="haomaqu" id="klsf">
					<div class="haomaqu_resetPar">
						<div class="haomaqul">
							<div class="haomaline">
								<div class="haomaimg">
									<img class="iconUrl" />
								</div>
								<div class="numberqu">
									<div class="nuberqutit">
										<span class="klsf gamename"></span>第
										<span class="preDrawIssue"></span> 期开奖号码<input type="hidden" id="drawTime" />
									</div>
									<!--<div class="kajianhaoPar">
										<div class="kajianhaod" id="jnumber">
											<ul class="kajianhao">
												<li class="num1"></li>
												<li class="num2"></li>
												<li class="num4"></li>
											</ul>
										</div>
									</div>-->
									<div class="kajianhao">
										<ul>
											<li class="numblueHead">1</li>
											<li class="numblueHead">3</li>
											<li class="numblueHead">2</li>
											<li class="numblueHead">4</li>
											<li class="numblueHead">6</li>
											<li class="numblueHead">2</li>
											<li class="numblueHead">4</li>
											<li class="numblueHead">6</li>
										</ul>
									</div>
									<div class="line drawCountDiv">已开<span class="drawCount"></span>期，还有<span class="sdrawCount"></span>期</div>
								</div>
							</div>
						</div>
						<div class="haomaqur">
							<div class="haomaqur_l">
								<div class="line linetit">距<span class="nextIssue"></span>期开奖仅有</div>
								<div class="line linetime" id="timebox">
									<div class="opening opentyle">开奖中...</div>
									<div class="cuttime">
										<span class="bgtime hour">00</span>
										<span class="hourtxt">时</span>
										<span class="bgtime minute">00</span>
										<span>分</span>
										<span class="bgtime second">00</span>
										<span>秒</span>
									</div>
								</div>
							</div>
							<div class="line soundId haomaqur_r">
								<div class="soundline ifSoundSet" id="ifSoundOpen"></div>
								<!--关闭铃声-->
								<div class="soundline soundSet" id="soundSet"></div>
								<!--设置铃声-->
							</div>
							<div class="line margt20" id="startVideo">
								<img src="../../img/video/klsf_pic/jisuklsf.jpg?v=2022815117" />
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="haomaqu_resetSon">
				<div class="homaline2">
					<div class="margt30 li_td">
						<ul class="zoushimap">
							<li>
								<a class="dhmenu" href="klsf_index.html">即时开奖</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_zonghelzfx.html">路珠分析</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_zonghelz.html">总和路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_zhongfabailz.html">中发白路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_haomalz.html">号码路珠</a>
							</li>
							<li class="checked">
								<a class="dhmenu" href="klsf_danshuangdxls.html">单双大小历史</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_jibenzs.html">基本走势</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_heshudslz.html">合数单双路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_weishudaxiaolz.html">尾数大小路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_longhulz.html">龙虎路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_danshuangdxlz.html">单双大小路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_jinrihaomatj.html">今日号码统计</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_dongnanxibeilz.html">东西南北路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_liangmiansjtj.html">两面统计</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_meiricltj.html">每日长龙统计</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_daxiaozs.html">大小走势</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_danshaungzs.html">单双走势</a>
							</li>
							<li>
								<a class="dhmenu" href="klsf_lishihaomatj.html">历史号码统计</a>
							</li>
							<li>
								<a href="../wanfaguize/GDklsf_wanfaguize.html">玩法规则</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="zhlzbox margt20">
				<div class="listhead">
					<div class="listheadl">
						<span class="lmms"><i>3</i>单双大小历史</span>
					</div>
					<!--<div class="listheadr datedouble">
						<div class="listheadrl">
							<span id="today" class="checked searchbtn">&nbsp;查询&nbsp;</span>
						</div>
						<div class="listheadrr">
							<div class="rightime">
								<div id="dateframe">
									<input type="text" id="date" class="date" placeholder="">
									<div id="datebox"></div>
									<i class="dropicond"></i>
								</div>
							</div>
							<div>&nbsp;至&nbsp;</div>
							<div class="rightime">
								<div id="dateframe">
									<input type="text" class="date" placeholder="">
									<div id="datebox2"></div>
									<i class="dropicond"></i>
								</div>
							</div>
							<div>选择日期&nbsp;</div>
						</div>
					</div>-->
				</div>
				<div class="listbox">
					<div class="listcontent nomargin">
						<div class="box">
							<div class="bastren w1200 noboder">
								<table id="dsdxlstable" width="100%" border="0" cellpadding="0" cellspacing="0">
									<thead>
										<tr class="thead" style="height: 40px; width: 100%;">
											<td rowspan="2" style="width:100px">日期</td>
											<td class="odd" colspan="4">第一球</td>
											<td colspan="4">第二球</td>
											<td class="odd" colspan="4">第三球</td>
											<td colspan="4">第四球</td>
											<td class="odd" colspan="4">第五球</td>
											<td colspan="4">第六球</td>
											<td class="odd" colspan="4">第七球</td>
											<td colspan="4">第八球</td>
											<!--<td class="odd" colspan="4">第九名</td>
											<td colspan="4">第十名</td>-->
										</tr>
										<tr class="thead smthead">
											<td width="26">大</td>
											<td width="26">小</td>
											<td width="26">单</td>
											<td width="26">双</td>

											<td width="26">大</td>
											<td width="26">小</td>
											<td width="26">单</td>
											<td width="26">双</td>

											<td width="26">大</td>
											<td width="26">小</td>
											<td width="26">单</td>
											<td width="26">双</td>

											<td width="26">大</td>
											<td width="26">小</td>
											<td width="26">单</td>
											<td width="26">双</td>

											<td width="26">大</td>
											<td width="26">小</td>
											<td width="26">单</td>
											<td width="26">双</td>

											<td width="26">大</td>
											<td width="26">小</td>
											<td width="26">单</td>
											<td width="26">双</td>

											<td width="26">大</td>
											<td width="26">小</td>
											<td width="26">单</td>
											<td width="26">双</td>

											<td width="26">大</td>
											<td width="26">小</td>
											<td width="26">单</td>
											<td width="26">双</td>

											<!--<td width="26">大</td>
											<td width="26">小</td>
											<td width="26">单</td>
											<td width="26">双</td>

											<td width="26">大</td>
											<td width="26">小</td>
											<td width="26">单</td>
											<td width="26">双</td>-->
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="fooderbox"></div>
			
		</div>
		<div class="fixedgoBack">
			<div class="fix1200">
				<ul>
					<li>
						<a rel="nofollow" class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&uin=800057725&cref=http://www.168kai.cc&ref=&pt=168%E5%BC%80%E5%A5%96%E7%BD%91&f=1&ty=1&ap=&as="></a>
					</li>
					<li>
						<!--用户反馈模态框-->
						<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
							<span class="fankuicons"></span>
						</span>

					</li>
					<li>
						<a rel="nofollow" class="topicon" id="gotop" href="javascript:"></a>
					</li>
				</ul>
			</div>
		</div>
		<!--模态框-->
		<!-- 模态框（Modal） -->
		<div id="user_adv"></div>
		<div id="videobox">
				<div class="content">
					<div class="head">
						<span class="gamename"></span>开奖视频
						<div class="btn">
							<ul>
								<li class="closevideo"><i class="iconfont"></i></li>
								<li class="small">小屏</li>
								<li class="big">中屏</li>
							</ul>
						</div>
					</div>
					<div class="animate">
						<iframe class="videocz" style="height:100%;width:100%;border: none;" scrolling="no" src="../../js/lib/video/GDklsf/jisu_index.html"></iframe>
					</div>
				</div>
			</div>

		<script type="text/javascript" src="../../js/lib/calendar.js"></script>
	</body>
	<script type="text/javascript" src="../../js/lib/config.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/lib/GA.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/loacal/klsf/klsf_danshuangdxls.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/loacal/animate/animate.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/loacal/klsf/jisuklsf_kaijiang.js?v=2022815111"></script>

</html>