<!--<link rel="stylesheet" type="text/css" href="../css/smSixFast.css?v=2022761114" />
<link rel="stylesheet" type="text/css" href="../css/calendar.css?v=2022761114" />
<link rel="stylesheet" href="../css/fastsmSix_headorfood.css?v=2022761114" />
<link rel="stylesheet" href="../css/fastsmSix__.css?v=2022761114" />-->
<div class="haomabox">
	<div class="waring" id="waringbox">
		<div class="flash"><i></i></div>
		温馨提示：因网络问题，开奖结果会有延迟，所以您需要去喝杯咖啡等一会儿！
	</div>
	<div class="haomaqu" id="klsf">
		<div class="haomaqu_resetPar">
			<div class="haomaqul">
				<div class="haomaline">
					<div class="haomaimg">
						<img src="../img/fastsmsixlogo.png?v=2022761114" />
					</div>
					<div class="numberqu">
						<div class="nuberqutit">
							<div class="hLeftDiv">
								<span class="klsf">极速六合彩</span>第
								<span class="preDrawIssue"></span> 期开奖号码
								<input type="hidden" id="drawTime" />
							</div>
							<div class="hRightDiv">
								已开<span class="drawCount"></span>期，还有<span class="sdrawCount"></span>期
							</div>
						</div>
						<div class="kajianhao">
							<ul>
								<li class="numblueHead"></li>
								<li class="numblueHead"></li>
								<li class="numblueHead"></li>
								<li class="numblueHead"></li>
								<li class="numblueHead"></li>
								<li class="numblueHead"></li>
								<li class="numblueHead" style="margin-left: 30px;"></li>
							</ul>
							<span class="addLiuHe"></span>
							<ul class="new_sh_xzlist">
								<li>
									<span>大</span><span>小</span>
								</li>
								<li>
									<span>大</span><span>小</span>
								</li>
								<li>
									<span>大</span><span>小</span>
								</li>
								<li>
									<span>大</span><span>小</span>
								</li>
								<li>
									<span>大</span><span>小</span>
								</li>
								<li>
									<span>大</span><span>小</span>
								</li>
								<li class="lastsh_xzlist">
									<span>大</span><span>小</span>
								</li>
							</ul>
						</div>
						<div class="totalScore">
							总分：<span id="scoreTotal"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="haomaqur">
				<div class="haomaqur_l">
					<div class="line linetit">距<span class="nextIssue"></span>期开奖仅有</div>
					<div class="line linetime" id="timebox">
						<div class="opening opentyle">开奖中...</div>
						<div class="cuttime">
							<span class="bgtime hour">00</span>
							<span class="hourtxt">时</span>
							<span class="bgtime minute">00</span>
							<span>分</span>
							<span class="bgtime second">00</span>
							<span>秒</span>
						</div>
					</div>
				</div>
				<div class="line soundId haomaqur_r">
					<div class="soundline ifSoundSet" id="ifSoundOpen"></div>
					<!--关闭铃声-->
					<div class="soundline soundSet" id="soundSet"></div>
					<!--设置铃声-->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="inline">
	<ul>
		<li class="title">
			<a href="javascript:void(0)">特码 :</a>
		</li>
		<li class="first_li ">
			<a class="SixFast_index" href="SixFast_index.html">即时开奖</a>
		</li>
		<li>
			<a class="SixFast_ZhmaHot" href="SixFast_ZhmaHot.html">正码热门</a>
		</li>
		<li >
			<a class="SixFast_ZhmaHandDown" href="SixFast_ZhmaHandDown.html">正码遗漏</a>
		</li>
		<li >
			<a class="SixFast_ZhmaTrend" href="SixFast_ZhmaTrend.html">正码走势</a>
		</li>
		<li >
			<a class="SixFast_style_hot" href="SixFast_style_hot.html">特码热门</a>
		</li>
		<li >
			<a class="SixFast_temaHandDown" href="SixFast_temaHandDown.html">特码遗漏</a>
		</li>
		<li >
			<a class="SixFast_twoSidesAnalyze" href="SixFast_twoSidesAnalyze.html">特码两面分析</a>
		</li>
		<li >
			<a class="SixFast_temaMantissaHot" href="SixFast_temaMantissaHot.html">特码尾数热门</a>
		</li>
		<li >
			<a class="SixFast_temaMantissaHandDown" href="SixFast_temaMantissaHandDown.html">特码尾数遗漏</a>
		</li>
		<li >
			<a class="SixFast_temaTrend" href="SixFast_temaTrend.html">特码走势</a>
		</li>
		<li >
			<a class="SixFast_temaZooTrend" href="SixFast_temaZooTrend.html">特码生肖走势</a>
		</li>
	</ul>
	<!--<ul>
		<li class="title">
			<a href="javascript:void(0)">正码 :</a>
		</li>
		
	</ul>-->
	<ul>
		<li class="title">
			<a  href="javascript:void(0)">生肖 :</a>
		</li>
		<li class="first_li">
			<a class="SixFast_ZooTemaHot" href="SixFast_ZooTemaHot.html">生肖特码热门</a>
		</li>
		<li >
			<a class="SixFast_ZooTemaHandDown" href="SixFast_ZooTemaHandDown.html">生肖特码遗漏</a>
		</li>
		<li >
			<a class="SixFast_ZooZhmaHot" href="SixFast_ZooZhmaHot.html">生肖正码热门</a>
		</li>
		<li >
			<a class="SixFast_ZooZhmaHandDown" href="SixFast_ZooZhmaHandDown.html">生肖正码遗漏</a>
		</li>
		<li >
			<a class="SixFast_jiaqyszs" href="SixFast_jiaqyszs.html">家禽野兽走势</a>
		</li>
		<li >
			<a class="SixFast_male_femalzs" href="SixFast_male_femalzs.html">男女生肖走势</a>
		</li>
		<li >
			<a  class="SixFast_tiandizs" href="SixFast_tiandizs.html">天地生肖走势</a>
		</li>
		<li >
			<a class="SixFast_four_seasonszs" href="SixFast_four_seasonszs.html">四季生肖走势</a>
		</li>
		<li >
			<a class="SixFast_qinqsh" href="SixFast_qinqsh.html">琴棋书画走势</a>
		</li>
		<li>
			<a class="SixFast_three_colorzs" href="SixFast_three_colorzs.html">三色生肖走势</a>
		</li>
	</ul>
	<ul class="luzhu">
		<li class="title">
			<a  href="javascript:void(0)">路珠 :</a>
		</li>

		<li class="first_li getSDRoadOfBead">
			<a class="SixFast_danshlz" href="SixFast_danshlz.html">单双路珠</a>
		</li>
		<li class="getBSRoadOfBead">
			<a class="SixFast_daxiaolz" href="SixFast_daxiaolz.html">大小路珠</a>
		</li>
		<li class="getColorRoadOfBead">
			<a class="SixFast_BoColor" href="SixFast_BoColor.html">波色路珠</a>
		</li>
		<li class="getTotalSDRoadOfBead">
			<a class="SixFast_sumdanshlz" href="SixFast_sumdanshlz.html">总和单双路珠</a>
		</li>
		<li class="getTotalBSRoadOfBead">
			<a class="SixFast_sumdaxionlz" href="SixFast_sumdaxionlz.html">总和大小路珠</a>
		</li>
		<li class="getMantissaRoadOfBead">
			<a class="SixFast_mantissadaxiaolz" href="SixFast_mantissadaxiaolz.html">尾数大小路珠</a>
		</li>
		<li class="getCompositeRoadOfBead">
			<a class="SixFast_heNumdanshlz" href="SixFast_heNumdanshlz.html">合数单双路珠</a>
		</li>
		<li>
			<a class="SixFast_jiaqilz" href="SixFast_jiaqilz.html">家禽野兽路珠</a>
		</li>
	</ul>
</div>
	<!--<script type="text/javascript" src="../js/SixFast/SixFast_config.js?v=2022761114"></script>
	<script type="text/javascript" src="../js/SixFast/SixFast_animate.js?v=2022761114"></script>
	<script type="text/javascript" src="../js/SixFast/SixFast_kai.js?v=2022761114"></script>
	<script type="text/javascript" src="../js/lib/calendar.js"></script>-->
