<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" /><meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
		<title>商务合作</title>
		<link rel="stylesheet" href="../../css/style.css?v=20227151437" />
		<link rel="stylesheet" href="../../css/headorfood.css?v=20227151437" />
		<link rel="stylesheet" href="../../css/guizejianjie.css?v=20227151437" />
		<link rel="stylesheet" href="../../css/user_adv.css?v=20227151437" />
		<script src="../../js/lib/bootstrap-3.3.0/js/tests/vendor/jquery.min.js"></script>
		<script src="../../js/lib/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="../../js/lib/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="../../js/lib/config.js?v=20227151437"></script>
		<script type="text/javascript" src="../../js/lib/GA.js?v=20227151437"></script>
		<script type="text/javascript" src="../../js/loacal/wanfaguize/wfgz_hf.js?v=20227151437"></script>
	</head>

	<body>
		<div class="bodybox">
			<div id="headdivbox"></div>

			<!--商务合作-->
			<div class="guize">
				<div class="guize_intro">168彩票开奖网 &gt;商务合作</div>
				<div class="guize_menu about_usmenu">
					<ul>
						<li class="guize_head">
							<strong>关于我们</strong>
						</li>
						<li class="hover">
							<a href="about_us.html" rel="nofollow"><strong>关于我们</strong></a>
						</li>
						<!-- <li class="hover">
							<a href="cus_serv.html" rel="nofollow"><strong>客服中心</strong></a>
						</li> -->
						<li class="active">
							<a href="coop_com.html" rel="nofollow"><strong>商务合作</strong></a>
						</li>
						<li class="hover">
							<a href="disclaimer.html" rel="nofollow"><strong>免责声明</strong></a>
						</li>
						<!--<li class="hover">
							<a href="GDklsf_wanfaguize.html"><strong>广东快乐十分</strong></a>
						</li>
						<li class="hover">
							<a href="GD11x5_wanfaguize.html"><strong>广东11选5</strong></a>
						</li>
						<li class="hover">
							<a href="JSK3_wanfaguize.html"><strong>江苏快3</strong></a>
						</li>
						<li class="hover">
							<a href="SYYDJ_wanfaguize.html"><strong>十一运多金</strong></a>
						</li>
						<li class="hover">
							<a href="CQXYNC_wanfaguize.html"><strong>重庆幸运农场</strong></a>
						</li>-->
					</ul>
				</div>
				<!--规则详情-->
				<div class="guize_detail">
					<div class="container">
						<h1 style="margin-top:10px;margin-right:10px;margin-bottom:10px;margin-left:10px;text-indent:0;padding:0 0 0 0 ;text-align:center;line-height:35px;background:rgb(255,255,255)">
					    <strong><span style="letter-spacing: 0px; font-size: 18px;font-family: 微软雅黑;"></span></strong>
						</h1>
						<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-indent:0;padding:0 0 0 0 ;text-align:center;line-height:30px;background:rgb(255,255,255)">
							<strong><span style="letter-spacing: 0px; font-size: 18px;font-weight: 900;  font-family: 微软雅黑;">商务合作</span></strong>
						</p>
						<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-indent:0;padding:0 0 0 0 ;line-height:30px;background:rgb(255,255,255)">
							<span style="font-family: 微软雅黑; letter-spacing: 0px; font-size: 14px;">168彩票开奖网是最全彩种的彩票开奖网站和免费彩票开奖数据提供商，为广大彩民提供全国各大联销型彩票及各地地方彩票的最快开奖结果、彩票资讯、彩票分析、彩票软件、彩票社区等全方位、一体化的综合彩票服务。</span>
						</p>
						<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-indent:0;padding:0 0 0 0 ;line-height:30px;background:rgb(255,255,255)">
							<span style="font-family: 微软雅黑; letter-spacing: 0px; font-size: 14px;">168彩票开奖网可以根据合作网站的需求，提供各种合作模式。</span>
						</p>
						<p style="margin-top:0;margin-right:0;margin-bottom:0;margin-left:0;text-indent:0;padding:0 0 0 0 ;line-height:30px;background:rgb(255,255,255)">
							<span style="font-family: 微软雅黑; letter-spacing: 0px; font-size: 14px;">诚招各大网站携手合作，互利共赢、共创美好生活。</span>
						</p>
						<h1 style="margin-top:10px;margin-right:10px;margin-bottom:10px;margin-left:10px;text-indent:0;padding:0 0 0 0 ;text-align:center;line-height:35px;background:rgb(255,255,255)">
					    <span style="font-family: 微软雅黑; letter-spacing: 0px; font-size: 14px;"></span><br/>
						</h1>
						<p>
							<span style=";font-family:Calibri;font-size:14px">&nbsp;</span>
						</p>
						<p>
							<br/>
						</p>
					</div>
				</div>
			</div>

			<div id="fooderbox"></div>
		</div>
		<div class="fixedgoBack">
			<div class="fix1200">
				<ul>
					<li>
						<a  rel="nofollow" class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&uin=800057725&cref=http://www.168kai.cc&ref=&pt=168%E5%BC%80%E5%A5%96%E7%BD%91&f=1&ty=1&ap=&as="></a>
					</li>
					<li>
						<!--用户反馈模态框-->
						<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
							<span class="fankuicons"></span>
						</span>

					</li>
					<li>
						<a rel="nofollow" class="topicon" id="gotop" href="javascript:"></a>
					</li>
				</ul>
			</div>
		</div>
		<!--模态框-->
		<!-- 模态框（Modal） -->
		<div id="user_adv"></div>

	</body>

</html>