<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:esun="" class="has-js">

	<head>
		<meta charset="utf-8" /><meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
		<title>【*位置走势】 中国福利彩票*开奖结果查询、历史记录、开奖视频直播 - 168彩票开奖网</title>
		<meta name="keywords" content="极速赛车位置走势,极速赛车历史记录,极速赛车开奖直播,极速赛车"/>
		<meta name="description " content="168彩票开奖网极速赛车位置走势开奖栏目提供最新极速赛车走势开奖结果查询、极速赛车位置走势开奖号码走势、极速赛车位置走势开奖时间、极速赛车位置走势今天开奖信息,中国福利彩票极速赛车开奖结果查询、历史开奖记录、开奖视频直播、杀号技巧软件分析预测网站。"/>
		<link rel="stylesheet" href="../../css/headorfood.css?v=2022815117" />
		<link rel="stylesheet" href="../../css/pk10kai.css?v=2022815117" />
		<link rel="stylesheet" href="../../css/calendar.css?v=2022815117" />
		<link rel="shortcut icon" href="../../img/icon/168favicon.ico?v=2022815117">
		<link rel="stylesheet" href="../../css/user_adv.css?v=2022815117" />
		
	</head>

	<body>
		<div class="bodybox pk10lzzhfxymbox daxiaodsbox zsbox">
			<div id="headdivbox"></div>
			<div class="haomabox">
				<div class="waring" id="waringbox">
					<div class="flash"><i></i></div>
					温馨提示：因网络问题，开奖结果会有延迟，所以您需要去喝杯咖啡等一会儿！
				</div>
				<div class="haomaqu" id="pk10">
					<div class="haomaqu_resetPar">
						<div class="haomaqul">
							<div class="haomaline">
								<div class="haomaimg">
									<img class="iconUrl" />
								</div>
								<div class="numberqu">
									<div class="nuberqutit">
										<span class="pk10tit gamename"></span>第
										<span class="preDrawIssue"></span> 期开奖号码
									</div>
									<div class="kajianhaoPar">
										<div class="kajianhao">
											<ul id="jnumber" class="numberbox">
												<li class="numsm02 "></li>
												<li class="numsm01 "></li>
												<li class="numsm10 "></li>
												<li class="numsm04 "></li>
												<li class="numsm03 "></li>
												<li class="numsm06 "></li>
												<li class="numsm07 "></li>
												<li class="numsm08 "></li>
												<li class="numsm05 "></li>
												<li class="numsm09 li_after"></li>
											</ul>
										</div>

									</div>
									<div class="line drawCountDiv">已开<span class="drawCount"></span>期，还有<span class="sdrawCount"></span>期</div>
								</div>
							</div>
							<div style="display: none;">
								<table>
									<tr class="longhu">
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td class="sumFS"></td>
										<td class="sumBigSamll"></td>
										<td class="sumSingleDouble"></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="haomaqur">
							<div class="haomaqur_l">
								<div class="line linetit">距<span class="nextIssue"></span>期开奖仅有</div>
								<div class="line linetime" id="timebox">
									<div class="opening opentyle">开奖中...</div>
									<div class="cuttime">
										<span class="bgtime hour">00</span>
										<span class="hourtxt">时</span>
										<span class="bgtime minute">00</span>
										<span>分</span>
										<span class="bgtime second">00</span>
										<span>秒</span>
									</div>
								</div>
							</div>
							<div class="line soundId haomaqur_r">
								<div class="soundline ifSoundSet" id="ifSoundOpen"></div>
								<!--关闭铃声-->
								<div class="soundline soundSet" id="soundSet"></div>
								<!--设置铃声-->
							</div>
							<div class="line margt20" id="startVideo">
								<img src="../../img/video/PK10_pic/jisuft.jpg?v=2022815117" />
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="haomaqu_resetSon">
				<div class="homaline2">
					<div class="margt30 li_td">
						<ul class="zoushimap">
							<li class="checked">
								<a class="dhmenu" href="pk10kai.html">即时开奖</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10kai_luzhufxzh.html">路珠分析</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_lenrefx.html">冷热分析</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_longhulz.html">龙虎路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_liangmsjtj.html">两面统计</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_meiricltj.html">长龙统计</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_longhutj.html">龙虎统计</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_guanyahlz.html">冠亚和路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_guanyahezs.html">冠亚和走势</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_haomazs.html">号码走势</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_daxiaods.html">单双大小路珠</a>
							</li>
							<li class="checked">
								<a class="dhmenu" href="pk10_weizhizs.html">位置走势</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_danshuangdxls.html">单双大小历史</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_haomaqhlz.html">号码前后路珠</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_guanyahelmls.html">冠亚和两面历史</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_haomagltj.html">号码规律统计</a>
							</li>
							<li>
								<a class="dhmenu" href="pk10_jinrihmtj.html">今日号码统计</a>
							</li>
							<li>
								<a href="../wanfaguize/PK10_wanfaguize.html">玩法规则</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="zhlzbox margt20">
				<div class="listhead">
					<div class="listheadl">
						<span class="lmms"><i>3</i>位置走势</span>
					</div>
					<div class="listheadr">
						<!--<div class="listheadrr">
							<div class="rightime">
								<div id="dateframe">
									<input type="text" class="date" placeholder="">
									<div id="datebox"></div>
									<i class="dropicond"></i>
								</div>
							</div>
							<div>选择日期&nbsp;</div>
						</div>-->
						<div class="listheadrl">
							<span id="today">今天</span>
							<span id="yesterday">昨天</span>
							<span id="qianday">前天</span>
							<span id="thirty" class="checked">最近30期</span>
							<span id="sixty">最近60期</span>
							<span id="ninety">最近90期</span>
						</div>
					</div>
				</div>
				<div class="listbox">
					<div class="listbox_spread" id="listbox_spread">
						<div id="spreadDiv">
							<p id="prep"><i>说明：</i> 1 奇偶：除2余数为1的为奇数，含1、3、5、7、9，除2余0的为偶数，含2、4、6、8、10；<span></span> </p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2 大小：6、7、8、9、10为大数，1、2、3、4、5为小数； </p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3 012路：除3余数为0的为0路号码，包含3、6、9,；除3余数为1的为1路号码，包含1、4、7、10；除3余数为2的为2路号码，包含2、5、8;</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4 升平降：比上期奖号数值大的，表示本期奖号特征为升；与上期相同的，表示本期奖号特征为平；比上期奖号数值小的，表示本期奖号特征为降； </p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5 分隔线：每五期使用分隔线，使横向导航更加清晰;</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 6 出现总次数：统计期数内实际出现的次数； </p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7 遗漏：自上期开出到本期间隔的期数;</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8 平均遗漏：统计期数内遗漏的平均值。（计算公式：平均遗漏＝统计期数/(出现次数+1)。）； </p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9 最大遗漏：统计期数内遗漏的最大值;</p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10 当前遗漏：自上期开出到当前期所间隔的期数； </p>
							<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 11 最大连出值：统计期数内连续开出的最大值;</p>
						</div>
					</div>
					<div class="checkbox">
						<div id="biaozxz" class="checkbtnzh checkbtnmc">
							<ul class="xuanzhemc liMarginReset wzzsLeftUl">
								<!--<li class="mctitle">选择名次：</li>-->
								<li class="sinli selected"><span>1</span>
									<a href="javascript:void(0)">冠军</a>
								</li>
								<li class="sinli"><span>2</span>
									<a href="javascript:void(0)">亚军</a>
								</li>
								<li class="sinli"><span>3</span>
									<a href="javascript:void(0)">第三名</a>
								</li>
								<li class="sinli"><span>4</span>
									<a href="javascript:void(0)">第四名</a>
								</li>
								<li class="sinli"><span>5</span>
									<a href="javascript:void(0)">第五名</a>
								</li>
								<li class="sinli"><span>6</span>
									<a href="javascript:void(0)">第六名</a>
								</li>
								<li class="sinli"><span>7</span>
									<a href="javascript:void(0)">第七名</a>
								</li>
								<li class="sinli"><span>8</span>
									<a href="javascript:void(0)">第八名</a>
								</li>
								<li class="sinli"><span>9</span>
									<a href="javascript:void(0)">第九名</a>
								</li>
								<li class="sinli"><span>10</span>
									<a href="javascript:void(0)">第十名</a>
								</li>
							</ul>
							<ul class="wzzsRightUl">
								<!--<li class="title">标注选择：</li>-->
								<li class="sinli checked"><i>1</i>
									<a href="javascript:void(0)">遗漏</a>
								</li>
								<li class="sinli checked"><i>2</i>
									<a href="javascript:void(0)">拆线</a>
								</li>
								<li class="sinli"><i>3</i>
									<a href="javascript:void(0)">遗漏分层</a>
								</li>
								<li class="sinli"><i>4</i>
									<a href="javascript:void(0)">分隔线</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="listcontent">
						<div class="box">
							<div id="waitBox" class="bastren w1200">
								<div id="chartLinediv" style="position:relative;*position:static;">
									<table id="table_weizhi1" width="100%" border="0" cellpadding="0" cellspacing="0" style="display: table;">
										<thead>
											<tr class="first_th">
												<th rowspan="2" width="85" height="38" class="left_border left_b left_strong_down">期号</th>
												<th rowspan="2" width="215">开奖号码</th>
												<th colspan="10" width="40">冠军分布</th>
												<th colspan="6" width="40">形态特征</th>
												<th colspan="3" width="40">012路</th>
												<th colspan="3" width="40">升平降</th>
											</tr>
											<tr class="second_th">
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">3</th>
												<th width="40">4</th>
												<th width="40">5</th>
												<th width="40">6</th>
												<th width="40">7</th>
												<th width="40">8</th>
												<th width="40">9</th>
												<th width="40">10</th>
												<th width="40">奇</th>
												<th width="40">偶</th>
												<th width="40">大</th>
												<th width="40">小</th>
												<th width="40">质</th>
												<th width="40">合</th>
												<th width="40">0</th>
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">升</th>
												<th width="40">平</th>
												<th width="40">降</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<table id="table_weizhi2" width="100%" border="0" cellpadding="0" cellspacing="0">
										<thead>
											<tr class="first_th">
												<th rowspan="2" width="85" height="38" class="left_border left_b left_strong_down">期号</th>
												<th rowspan="2" width="215">开奖号码</th>
												<th colspan="10" width="40">亚军分布</th>
												<th colspan="6" width="40">形态特征</th>
												<th colspan="3" width="40">012路</th>
												<th colspan="3" width="40">升平降</th>
											</tr>
											<tr class="second_th">
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">3</th>
												<th width="40">4</th>
												<th width="40">5</th>
												<th width="40">6</th>
												<th width="40">7</th>
												<th width="40">8</th>
												<th width="40">9</th>
												<th width="40">10</th>
												<th width="40">奇</th>
												<th width="40">偶</th>
												<th width="40">大</th>
												<th width="40">小</th>
												<th width="40">质</th>
												<th width="40">合</th>
												<th width="40">0</th>
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">升</th>
												<th width="40">平</th>
												<th width="40">降</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<table id="table_weizhi3" width="100%" border="0" cellpadding="0" cellspacing="0">
										<thead>
											<tr class="first_th">
												<th rowspan="2" width="85" height="38" class="left_border left_b left_strong_down">期号</th>
												<th rowspan="2" width="215">开奖号码</th>
												<th colspan="10" width="40">第三名分布</th>
												<th colspan="6" width="40">形态特征</th>
												<th colspan="3" width="40">012路</th>
												<th colspan="3" width="40">升平降</th>
											</tr>
											<tr class="second_th">
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">3</th>
												<th width="40">4</th>
												<th width="40">5</th>
												<th width="40">6</th>
												<th width="40">7</th>
												<th width="40">8</th>
												<th width="40">9</th>
												<th width="40">10</th>
												<th width="40">奇</th>
												<th width="40">偶</th>
												<th width="40">大</th>
												<th width="40">小</th>
												<th width="40">质</th>
												<th width="40">合</th>
												<th width="40">0</th>
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">升</th>
												<th width="40">平</th>
												<th width="40">降</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<table id="table_weizhi4" width="100%" border="0" cellpadding="0" cellspacing="0">
										<thead>
											<tr class="first_th">
												<th rowspan="2" width="85" height="38" class="left_border left_b left_strong_down">期号</th>
												<th rowspan="2" width="215">开奖号码</th>
												<th colspan="10" width="40">第四名分布</th>
												<th colspan="6" width="40">形态特征</th>
												<th colspan="3" width="40">012路</th>
												<th colspan="3" width="40">升平降</th>
											</tr>
											<tr class="second_th">
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">3</th>
												<th width="40">4</th>
												<th width="40">5</th>
												<th width="40">6</th>
												<th width="40">7</th>
												<th width="40">8</th>
												<th width="40">9</th>
												<th width="40">10</th>
												<th width="40">奇</th>
												<th width="40">偶</th>
												<th width="40">大</th>
												<th width="40">小</th>
												<th width="40">质</th>
												<th width="40">合</th>
												<th width="40">0</th>
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">升</th>
												<th width="40">平</th>
												<th width="40">降</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<table id="table_weizhi5" width="100%" border="0" cellpadding="0" cellspacing="0">
										<thead>
											<tr class="first_th">
												<th rowspan="2" width="85" height="38" class="left_border left_b left_strong_down">期号</th>
												<th rowspan="2" width="215">开奖号码</th>
												<th colspan="10" width="40">第五名分布</th>
												<th colspan="6" width="40">形态特征</th>
												<th colspan="3" width="40">012路</th>
												<th colspan="3" width="40">升平降</th>
											</tr>
											<tr class="second_th">
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">3</th>
												<th width="40">4</th>
												<th width="40">5</th>
												<th width="40">6</th>
												<th width="40">7</th>
												<th width="40">8</th>
												<th width="40">9</th>
												<th width="40">10</th>
												<th width="40">奇</th>
												<th width="40">偶</th>
												<th width="40">大</th>
												<th width="40">小</th>
												<th width="40">质</th>
												<th width="40">合</th>
												<th width="40">0</th>
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">升</th>
												<th width="40">平</th>
												<th width="40">降</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<table id="table_weizhi6" width="100%" border="0" cellpadding="0" cellspacing="0">
										<thead>
											<tr class="first_th">
												<th rowspan="2" width="85" height="38" class="left_border left_b left_strong_down">期号</th>
												<th rowspan="2" width="215">开奖号码</th>
												<th colspan="10" width="40">第六名分布</th>
												<th colspan="6" width="40">形态特征</th>
												<th colspan="3" width="40">012路</th>
												<th colspan="3" width="40">升平降</th>
											</tr>
											<tr class="second_th">
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">3</th>
												<th width="40">4</th>
												<th width="40">5</th>
												<th width="40">6</th>
												<th width="40">7</th>
												<th width="40">8</th>
												<th width="40">9</th>
												<th width="40">10</th>
												<th width="40">奇</th>
												<th width="40">偶</th>
												<th width="40">大</th>
												<th width="40">小</th>
												<th width="40">质</th>
												<th width="40">合</th>
												<th width="40">0</th>
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">升</th>
												<th width="40">平</th>
												<th width="40">降</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<table id="table_weizhi7" width="100%" border="0" cellpadding="0" cellspacing="0">
										<thead>
											<tr class="first_th">
												<th rowspan="2" width="85" height="38" class="left_border left_b left_strong_down">期号</th>
												<th rowspan="2" width="215">开奖号码</th>
												<th colspan="10" width="40">第七名分布</th>
												<th colspan="6" width="40">形态特征</th>
												<th colspan="3" width="40">012路</th>
												<th colspan="3" width="40">升平降</th>
											</tr>
											<tr class="second_th">
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">3</th>
												<th width="40">4</th>
												<th width="40">5</th>
												<th width="40">6</th>
												<th width="40">7</th>
												<th width="40">8</th>
												<th width="40">9</th>
												<th width="40">10</th>
												<th width="40">奇</th>
												<th width="40">偶</th>
												<th width="40">大</th>
												<th width="40">小</th>
												<th width="40">质</th>
												<th width="40">合</th>
												<th width="40">0</th>
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">升</th>
												<th width="40">平</th>
												<th width="40">降</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<table id="table_weizhi8" width="100%" border="0" cellpadding="0" cellspacing="0">
										<thead>
											<tr class="first_th">
												<th rowspan="2" width="85" height="38" class="left_border left_b left_strong_down">期号</th>
												<th rowspan="2" width="215">开奖号码</th>
												<th colspan="10" width="40">第八名分布</th>
												<th colspan="6" width="40">形态特征</th>
												<th colspan="3" width="40">012路</th>
												<th colspan="3" width="40">升平降</th>
											</tr>
											<tr class="second_th">
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">3</th>
												<th width="40">4</th>
												<th width="40">5</th>
												<th width="40">6</th>
												<th width="40">7</th>
												<th width="40">8</th>
												<th width="40">9</th>
												<th width="40">10</th>
												<th width="40">奇</th>
												<th width="40">偶</th>
												<th width="40">大</th>
												<th width="40">小</th>
												<th width="40">质</th>
												<th width="40">合</th>
												<th width="40">0</th>
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">升</th>
												<th width="40">平</th>
												<th width="40">降</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<table id="table_weizhi9" width="100%" border="0" cellpadding="0" cellspacing="0">
										<thead>
											<tr class="first_th">
												<th rowspan="2" width="85" height="38" class="left_border left_b left_strong_down">期号</th>
												<th rowspan="2" width="215">开奖号码</th>
												<th colspan="10" width="40">第九名分布</th>
												<th colspan="6" width="40">形态特征</th>
												<th colspan="3" width="40">012路</th>
												<th colspan="3" width="40">升平降</th>
											</tr>
											<tr class="second_th">
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">3</th>
												<th width="40">4</th>
												<th width="40">5</th>
												<th width="40">6</th>
												<th width="40">7</th>
												<th width="40">8</th>
												<th width="40">9</th>
												<th width="40">10</th>
												<th width="40">奇</th>
												<th width="40">偶</th>
												<th width="40">大</th>
												<th width="40">小</th>
												<th width="40">质</th>
												<th width="40">合</th>
												<th width="40">0</th>
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">升</th>
												<th width="40">平</th>
												<th width="40">降</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
									<table id="table_weizhi10" width="100%" border="0" cellpadding="0" cellspacing="0">
										<thead>
											<tr class="first_th">
												<th rowspan="2" width="85" height="38" class="left_border left_b left_strong_down">期号</th>
												<th rowspan="2" width="215">开奖号码</th>
												<th colspan="10" width="40">第十名分布</th>
												<th colspan="6" width="40">形态特征</th>
												<th colspan="3" width="40">012路</th>
												<th colspan="3" width="40">升平降</th>
											</tr>
											<tr class="second_th">
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">3</th>
												<th width="40">4</th>
												<th width="40">5</th>
												<th width="40">6</th>
												<th width="40">7</th>
												<th width="40">8</th>
												<th width="40">9</th>
												<th width="40">10</th>
												<th width="40">奇</th>
												<th width="40">偶</th>
												<th width="40">大</th>
												<th width="40">小</th>
												<th width="40">质</th>
												<th width="40">合</th>
												<th width="40">0</th>
												<th width="40">1</th>
												<th width="40">2</th>
												<th width="40">升</th>
												<th width="40">平</th>
												<th width="40">降</th>
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>

								</div>
								<div id="chartbottom" style="display: none;">
									<table>
										<tr class="first_th">
											<th rowspan="2" colspan="2" width="85" height="38" class="left_border left_b left_strong_down">数据统计</th>
											<th colspan="10" width="40">冠军分布</th>
											<th colspan="6" width="40">形态特征</th>
											<th colspan="3" width="40">012路</th>
											<th colspan="3" width="40">升平降</th>
										</tr>
										<tr class="second_th">
											<th width="40">1</th>
											<th width="40">2</th>
											<th width="40">3</th>
											<th width="40">4</th>
											<th width="40">5</th>
											<th width="40">6</th>
											<th width="40">7</th>
											<th width="40">8</th>
											<th width="40">9</th>
											<th width="40">10</th>
											<th width="40">奇</th>
											<th width="40">偶</th>
											<th width="40">大</th>
											<th width="40">小</th>
											<th width="40">质</th>
											<th width="40">合</th>
											<th width="40">0</th>
											<th width="40">1</th>
											<th width="40">2</th>
											<th width="40">升</th>
											<th width="40">平</th>
											<th width="40">降</th>
										</tr>
									</table>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div id="fooderbox"></div>
			
			<div class="fixedgoBack">
				<div class="fix1200">
					<ul>
						<li>
							<a rel="nofollow" class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&uin=800057725&cref=http://www.168kai.cc&ref=&pt=168%E5%BC%80%E5%A5%96%E7%BD%91&f=1&ty=1&ap=&as="></a>
						</li>
						<li>
							<!--用户反馈模态框-->
							<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
								<span class="fankuicons"></span>
							</span>
						</li>
						<li>
							<a rel="nofollow" class="topicon" id="gotop" href="javascript:"></a>
						</li>
					</ul>
				</div>
			</div>
			
			<div id="user_adv"></div>
			<div id="videobox">
			<div class="content">
				<div class="head">
					<span class="gamename"></span>开奖视频
					<div class="btn">
						<ul>
							<li class="closevideo"><i class="iconfont"></i></li>
							<li class="small">小屏</li>
							<li class="big">中屏</li>
						</ul>
					</div>
				</div>
				<div class="animate">
					<div class="loading_jisusc"></div>
					<iframe class="videocz" style="height:100%;width:100%;border: none;" src="../../js/lib/video/jisuft_video/index.html"></iframe>
				</div>
			</div>
		</div>
			
	</body>
	<script src="../../js/lib/bootstrap-3.3.0/js/tests/vendor/jquery.min.js"></script>
	<script src="../../js/lib/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/lib/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../js/lib/calendar.js"></script>
	<script type="text/javascript" charset="utf-8" src="../../js/lib/drawLines.js"></script>
	<script type="text/javascript" charset="utf-8" src="../../js/lib/jquery.async.js"></script>
	<script type="text/javascript" charset="utf-8" src="../../js/lib/pk10BaseTrend.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/lib/config.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/loacal/animate/animate.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/lib/GA.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/loacal/pk10/pk10_weizhizs.js?v=2022815117"></script>
	<script type="text/javascript" src="../../js/loacal/pk10/jisuft_kai.js?v=2022815117"></script>

</html>