
<div class="footer1">
	<ul>
		<li class="lileft">
			<img src="../../img/logobot.png?v=20227151437"  alt="168彩票开奖网"/>
			<p>最专业的彩票开奖网站</p>
			<p>数据分析最全面的开奖数据平台 </p>
		</li>
		<li class="about_li">
			<div><span class="about"></span><span class="">关于我们</span></div>
			<p class="p1">
				<a href="/view/about_us/about_us.html" rel="nofollow">关于我们</a>
			</p>
			<!-- <p>
				<a href="/view/about_us/cus_serv.html" rel="nofollow">客服中心</a>
			</p> -->
			<p>
				<a href="/view/about_us/coop_com.html" rel="nofollow">商务合作</a>
			</p>
			<p>
				<a href="/view/about_us/disclaimer.html" rel="nofollow">免责声明</a>
			</p>
		</li>
		<li class="about_li">
			<div><span class="rewards"></span><span class="">中奖神器</span></div>
			<!-- <p class="p1">
				<a href="/view/PK10/pk10kai.html">开奖号码</a>
			</p> -->
			<p class="p1">
				<a href="/view/zoushitb/zoushitb.html" >走势图表</a>
			</p>
			<p>
				<a href="/view/wanfaguize/PK10_wanfaguize.html">玩法规则</a>
			</p>
		</li>
		<li class="about_li">
			<div><span class="call"></span><span class="">免费调用</span></div>
			<p class="p1">
				<a href="http://168kai.com/" class="zzwzdh" target="_blank" rel="nofollow">自助网址导航</a>
			</p>
			<!-- <p>
				<a  class="kaijdy" href="#" target="_blank" rel="nofollow">开奖调用</a>
			</p> -->
		</li>
		
	</ul>
</div>
<div class="footer3">
	<div class="footer3c">
		Copyright <span id="localyears"></span> 168 All rights reserved 彩票开奖网 版权所有<a style="display: inline;margin-left: 5px;" href="http://www.cnzz.com/stat/website.php?web_id=1279668241" target="_blank" title="站长统计">站长统计</a>
		<script type="text/javascript" src="../../js/loacal/tools/tools.js?v=20227151437" ></script>
		<script type="text/javascript">
			$("#localyears").text(new Date().getFullYear());
			//toolBoxs.setK();//为开奖调用增加域名
			//toolBoxs.setSwtzUrl(); //设置试玩投注链接
			var logoLocation = window.location.href.indexOf("zsh/index"); //如果是站长推荐页面，就修改底部的彩种logo图片
			if(logoLocation !== -1){
				$(".lileft").find("img").attr("src","../../img/zshImage/logoBottom.png?v=20227151437");
			}
		</script>
	</div>
</div>
<!-- 客服中心 -->
<div id="kfBounced" onLoad="ServiceText()"></div>