<html xmlns="http://www.w3.org/1999/xhtml" xmlns:esun="" class="has-js">

	<head>
		<meta charset="utf-8"><meta name="format-detection" content="telephone=no">
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
		<title>【幸运时时彩基本走势】中国福利彩票幸运时时彩开奖号码结果、走势图、历史记录查询 - 168彩票开奖网</title>
		<meta name="keywords" content="幸运时时彩基本走势,幸运时时彩开奖结果,幸运时时彩走势图,幸运时时彩开奖号码">
		<meta name="description" content="168彩票开奖网幸运时时彩基本走势开奖栏目提供最新幸运时时彩基本走势开奖结果查询、幸运时时彩基本走势开奖号码走势、幸运时时彩基本走势开奖时间、幸运时时彩基本走势今天开奖信息 ,中国福利彩票幸运时时彩开奖号码结果、综合走势图、历史记录查询、现场开奖视频直播、软件分析预测网站。">
		<link rel="stylesheet" href="/css/headorfood.css">
		<link rel="stylesheet" href="/css/SSC_jiebenzs.css">
		<link rel="stylesheet" href="/css/calendar.css">
		<link rel="shortcut icon" href="/img/icon/168favicon.ico">
		<link rel="stylesheet" href="/css/user_adv.css">
		<script src="/js/lib/bootstrap-3.3.0/js/tests/vendor/jquery.min.js"></script>
		<script src="/js/lib/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>

		<script type="text/javascript" src="/js/lib/jquery-1.7.2.min.js"></script>
	</head>

	<body>
		<div class="bodybox pk10lzzhfxymbox daxiaodsbox zsbox">
			<div id="headdivbox"></div>
			<div class="haomabox">
				<div class="waring" id="waringbox">
					<div class="flash"><i></i></div>
					温馨提示：因网络问题，开奖结果会有延迟，所以您需要去喝杯咖啡等一会儿！
				</div>
				<div class="haomaqu" id="cqSsc">
					<div class="haomaqu_resetPar">
						<div class="haomaqul">
							<div class="haomaline">
								<div class="haomaimg">
									<img src="/img/xyssc.png" alt="幸运时时彩">
								</div>
								<div class="numberqu">
									<div class="nuberqutit">
										<span class="ssc">幸运时时彩</span>第
	<span class="preDrawIssue"></span> 期开奖号码
										<input type="hidden" id="drawTime">
									<input type="hidden" id="sumNum">
									<input type="hidden" id="sumSingleDouble">
									<input type="hidden" id="sumBigSmall">
									<input type="hidden" id="dragonTiger">
									</div>
									<div class="kajianhaoPar">
										<div class="kajianhao">
											<ul>
												<li class="numblueHead">1</li>
												<li class="numblueHead">3</li>
												<li class="numblueHead">2</li>
												<li class="numblueHead">4</li>
												<li class="numblueHead">6</li>
											</ul>
										</div>
									</div>
									<div class="line drawCountDiv">已开<span class="drawCount"></span>期，还有<span class="sdrawCount"></span>期</div>
								</div>
							</div>
						</div>
						<div class="haomaqur">
							<div class="haomaqur_l">
								<div class="line linetit">距<span class="nextIssue"></span>期开奖仅有</div>
								<div class="line linetime" id="timebox">
									<div class="opening opentyle">开奖中...</div>
									<div class="cuttime">
										<span class="bgtime hour">00</span>
										<span class="hourtxt">时</span>
										<span class="bgtime minute">00</span>
										<span>分</span>
										<span class="bgtime second">00</span>
										<span>秒</span>
									</div>
								</div>
							</div>
							<div class="line soundId haomaqur_r">
								<div class="soundline ifSoundSet" id="ifSoundOpen"></div>
								<!--关闭铃声-->
								<div class="soundline soundSet" id="soundSet"></div>
								<!--设置铃声-->
							</div>
							<div class="line margt20" id="startVideo">
								<img src="/img/video/ssc_pic/cq_sscvideo.jpg">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="haomaqu_resetSon">
				<div class="homaline2">
					<div class="margt30">
						<ul class="zoushimap">
							<li>
								<a href="/view/shishicai_xy/ssc_index.html">即时开奖</a>
							</li>
							<li>
								<a href="/view/shishicai_xy/ssc_luzhufenxizh.html">路珠分析</a>
							</li>
							<li>
								<a href="/view/shishicai_xy/ssc_zhonghefx.html">综合分析</a>
							</li>
							<li class="checked">
								<a href="/view/shishicai_xy/ssc_jibenzs.html">基本走势</a>
							</li>
							<li>
								<a href="/view/shishicai_xy/ssc_lengrefx.html">冷热分析</a>
							</li>
							<li>
								<a href="/view/shishicai_xy/ssc_longhuzs.html">龙虎走势</a>
							</li>

							<li>
								<a href="/view/shishicai_xy/ssc_haomatj.html">今日号码统计</a>
							</li>
							<li>
								<a href="/view/shishicai_xy/ssc_danshaungdxls.html">单双大小历史</a>
							</li>
							<li>
								<a href="/view/shishicai_xy/ssc_haomalz.html">号码路珠</a>
							</li>
							<li>
								<a href="/view/shishicai_xy/ssc_xingtaizs.html">形态走势</a>
							</li>

							<li>
								<a href="/view/shishicai_xy/ssc_daxiaodslz.html">单双大小路珠</a>
							</li>
							<li>
								<a href="/view/shishicai_xy/ssc_lishihmtj.html">历史号码统计</a>
							</li>
							<li>
								<a href="/view/shishicai_xy/ssc_linagmiansjtj.html">两面统计</a>
							</li>
							<li>
								<a href="/view/shishicai_xy/ssc_meiricltj.html">每日长龙统计</a>
							</li>
							<li>
								<a href="/view/shishicai_xy/ssc_dinweizs.html">定位走势</a>
							</li>
							<li>
								<a href="/view/shishicai_xy/ssc_zonghelz.html">总和路珠</a>
							</li>
							<li>
								<a href="/view/wanfaguize/CQssc_wanfaguize.html">玩法规则</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="zhlzbox margt20">
				<div class="listhead">
					<div class="listheadl">
						<span class="lmms"><i>3</i>基本走势</span>
					</div>
					<div class="listheadr">
						<div class="listheadrl">
							<span id="today">今天</span>
							<span id="yesterday">昨天</span>
							<span id="qianday">前天</span>
							<span id="thirty" class="checked">最近30期</span>
							<span id="sixty">最近60期</span>
							<span id="ninety">最近90期</span>
						</div>
						<!--<div class="listheadrr">
							<div class="rightime">
								<div id="dateframe">
									<input type="text" id="date" class="date" placeholder="">
									<div id="datebox"></div>
									<i class="dropicond"></i>
								</div>
							</div>
							<div>选择日期&nbsp;</div>
						</div>-->
					</div>
				</div>
				<div class="listbox">
					<div class="checkbox">
						<div id="biaozxz" class="checkbtnzh checkbtnmc">
							<ul>
								<li class="title">标注选择：</li>
								<li class="sinli checked"><i>1</i>
									<a href="javascript:void(0)">遗漏</a>
								</li>
								<li class="sinli checked"><i>2</i>
									<a href="javascript:void(0)">拆线</a>
								</li>
								<li class="sinli"><i>3</i>
									<a href="javascript:void(0)">遗漏分成</a>
								</li>
								<li class="sinli"><i>4</i>
									<a href="javascript:void(0)">分隔线</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="listcontent">
						<div class="box">
							<div id="waitBox" class="bastren w1200">
								<div id="chartLinediv" style="position:relative;*position:static;">
									<div id="hovediv" style="position: absolute;top: 0;left: 0;width: 1716px;z-index: 1;height: 1318px;"></div>
									<table id="trend_table2" width="1716" border="0" cellpadding="0" cellspacing="0">
										<thead>
											<tr class="first_th">
												<th width="200" rowspan="2" class="left_border left_b left_strong_down"><strong id="order" style="cursor:pointer;" type="desc">期号</strong></th>
												<th width="152" class="" rowspan="2">开奖号码</th>
												<th colspan="10" height="38">第一球</th>
												<th colspan="10">第二球</th>
												<th colspan="10">第三球</th>
												<th colspan="10">第四球</th>
												<th colspan="10">第五球</th>
												<!--<th colspan="10">第六名</th>
												<th colspan="10">第七名</th>
												<th colspan="10">第八名</th>
												<th colspan="10">第九名</th>
												<th colspan="10">第十名</th>-->
											</tr>
											<tr class="second_th">
												<th width="30" height="33" class="nfw clthbr">0</th>
												<th width="30" class="nfw">1</th>
												<th width="30" class="nfw">2</th>
												<th width="30" class="nfw">3</th>
												<th width="30" class="nfw">4</th>
												<th width="30" class="nfw">5</th>
												<th width="30" class="nfw">6</th>
												<th width="30" class="nfw">7</th>
												<th width="30" class="nfw">8</th>
												<th width="30" class="nfw">9</th>
												<th width="30" class="nfw">0</th>
												<th width="30" class="nfw">1</th>
												<th width="30" class="nfw">2</th>
												<th width="30" class="nfw">3</th>
												<th width="30" class="nfw">4</th>
												<th width="30" class="nfw">5</th>
												<th width="30" class="nfw">6</th>
												<th width="30" class="nfw">7</th>
												<th width="30" class="nfw">8</th>
												<th width="30" class="nfw">9</th>
												<th width="30" class="nfw">0</th>
												<th width="30" class="nfw">1</th>
												<th width="30" class="nfw">2</th>
												<th width="30" class="nfw">3</th>
												<th width="30" class="nfw">4</th>
												<th width="30" class="nfw">5</th>
												<th width="30" class="nfw">6</th>
												<th width="30" class="nfw">7</th>
												<th width="30" class="nfw">8</th>
												<th width="30" class="nfw">9</th>
												<th width="30" class="nfw">0</th>
												<th width="30" class="nfw">1</th>
												<th width="30" class="nfw">2</th>
												<th width="30" class="nfw">3</th>
												<th width="30" class="nfw">4</th>
												<th width="30" class="nfw">5</th>
												<th width="30" class="nfw">6</th>
												<th width="30" class="nfw">7</th>
												<th width="30" class="nfw">8</th>
												<th width="30" class="nfw">9</th>
												<th width="30" class="nfw">0</th>
												<th width="30" class="nfw">1</th>
												<th width="30" class="nfw">2</th>
												<th width="30" class="nfw">3</th>
												<th width="30" class="nfw">4</th>
												<th width="30" class="nfw">5</th>
												<th width="30" class="nfw">6</th>
												<th width="30" class="nfw">7</th>
												<th width="30" class="nfw">8</th>
												<th width="30" class="nfw">9</th>
												<!--<th width="30" class="nfw">1</th>
												<th width="30" class="nfw">2</th>
												<th width="30" class="nfw">3</th>
												<th width="30" class="nfw">4</th>
												<th width="30" class="nfw">5</th>
												<th width="30" class="nfw">6</th>
												<th width="30" class="nfw">7</th>
												<th width="30" class="nfw">8</th>
												<th width="30" class="nfw">9</th>
												<th width="30" class="nfw">10</th>-->
												<!--<th width="30" class="nfw">1</th>
												<th width="30" class="nfw">2</th>
												<th width="30" class="nfw">3</th>
												<th width="30" class="nfw">4</th>
												<th width="30" class="nfw">5</th>
												<th width="30" class="nfw">6</th>
												<th width="30" class="nfw">7</th>
												<th width="30" class="nfw">8</th>
												<th width="30" class="nfw">9</th>
												<th width="30" class="nfw">10</th>-->
												<!--<th width="30" class="nfw">1</th>
												<th width="30" class="nfw">2</th>
												<th width="30" class="nfw">3</th>
												<th width="30" class="nfw">4</th>
												<th width="30" class="nfw">5</th>
												<th width="30" class="nfw">6</th>
												<th width="30" class="nfw">7</th>
												<th width="30" class="nfw">8</th>
												<th width="30" class="nfw">9</th>
												<th width="30" class="nfw">10</th>
												<th width="30" class="nfw">1</th>
												<th width="30" class="nfw">2</th>
												<th width="30" class="nfw">3</th>
												<th width="30" class="nfw">4</th>
												<th width="30" class="nfw">5</th>
												<th width="30" class="nfw">6</th>
												<th width="30" class="nfw">7</th>
												<th width="30" class="nfw">8</th>
												<th width="30" class="nfw">9</th>
												<th width="30" class="nfw">10</th>
												<th width="30" class="nfw">1</th>
												<th width="30" class="nfw">2</th>
												<th width="30" class="nfw">3</th>
												<th width="30" class="nfw">4</th>
												<th width="30" class="nfw">5</th>
												<th width="30" class="nfw">6</th>
												<th width="30" class="nfw">7</th>
												<th width="30" class="nfw">8</th>
												<th width="30" class="nfw">9</th>
												<th width="30" class="nfw">10</th>-->
											</tr>
										</thead>
										<tbody>
										</tbody>
									</table>
								</div>
								<div id="chartbottom" style="display: none;">
									<table>
										<tr class="first_th">
											<th width="276" rowspan="2" colspan="2" class="left_border left_b">数据统计</th>
											<th colspan="10">第一球</th>
											<th colspan="10">第二球</th>
											<th colspan="10">第三球</th>
											<th colspan="10">第四球</th>
											<th colspan="10">第五球</th>
											<!--<th colspan="10">第六名</th>
											<th colspan="10">第七名</th>
											<th colspan="10">第八名</th>
											<th colspan="10">第九名</th>
											<th colspan="10">第十名</th>-->
										</tr>
										<tr class="second_th">
											<th width="30" class="nfw clthbr">0</th>
											<th width="30" class="nfw clthbr">1</th>
											<th width="30" class="nfw">2</th>
											<th width="30" class="nfw">3</th>
											<th width="30" class="nfw">4</th>
											<th width="30" class="nfw">5</th>
											<th width="30" class="nfw">6</th>
											<th width="30" class="nfw">7</th>
											<th width="30" class="nfw">8</th>
											<th width="30" class="nfw">9</th>
											<th width="30" class="nfw" id="thbr">0</th>
											<th width="30" class="nfw">1</th>
											<th width="30" class="nfw">2</th>
											<th width="30" class="nfw">3</th>
											<th width="30" class="nfw">4</th>
											<th width="30" class="nfw">5</th>
											<th width="30" class="nfw">6</th>
											<th width="30" class="nfw">7</th>
											<th width="30" class="nfw">8</th>
											<th width="30" class="nfw">9</th>
											<th width="30" class="nfw" id="thbr">0</th>
											<th width="30" class="nfw">1</th>
											<th width="30" class="nfw">2</th>
											<th width="30" class="nfw">3</th>
											<th width="30" class="nfw">4</th>
											<th width="30" class="nfw">5</th>
											<th width="30" class="nfw">6</th>
											<th width="30" class="nfw">7</th>
											<th width="30" class="nfw">8</th>
											<th width="30" class="nfw">9</th>
											<th width="30" class="nfw">0</th>
											<th width="30" class="nfw">1</th>
											<th width="30" class="nfw">2</th>
											<th width="30" class="nfw">3</th>
											<th width="30" class="nfw">4</th>
											<th width="30" class="nfw">5</th>
											<th width="30" class="nfw">6</th>
											<th width="30" class="nfw">7</th>
											<th width="30" class="nfw">8</th>
											<th width="30" class="nfw">9</th>
											<th width="30" class="nfw">0</th>
											<th width="30" class="nfw">1</th>
											<th width="30" class="nfw">2</th>
											<th width="30" class="nfw">3</th>
											<th width="30" class="nfw">
												<p>4</p>
											</th>
											<th width="30" class="nfw">5</th>
											<th width="30" class="nfw">6</th>
											<th width="30" class="nfw">7</th>
											<th width="30" class="nfw">8</th>
											<th width="30" class="nfw">9</th>
											<!--<th width="30" class="nfw">1</th>
											<th width="30" class="nfw">2</th>
											<th width="30" class="nfw">3</th>
											<th width="30" class="nfw">4</th>
											<th width="30" class="nfw">5</th>
											<th width="30" class="nfw">6</th>
											<th width="30" class="nfw">7</th>
											<th width="30" class="nfw">8</th>
											<th width="30" class="nfw">9</th>
											<th width="30" class="nfw">10</th>
											<th width="30" class="nfw">1</th>
											<th width="30" class="nfw">2</th>
											<th width="30" class="nfw">3</th>
											<th width="30" class="nfw">4</th>
											<th width="30" class="nfw">5</th>
											<th width="30" class="nfw">6</th>
											<th width="30" class="nfw">7</th>
											<th width="30" class="nfw">8</th>
											<th width="30" class="nfw">9</th>
											<th width="30" class="nfw">10</th>-->
											<!--<th width="30" class="nfw">1</th>
											<th width="30" class="nfw">2</th>
											<th width="30" class="nfw">3</th>
											<th width="30" class="nfw">4</th>
											<th width="30" class="nfw">5</th>
											<th width="30" class="nfw">6</th>
											<th width="30" class="nfw">7</th>
											<th width="30" class="nfw">8</th>
											<th width="30" class="nfw">9</th>
											<th width="30" class="nfw">10</th>
											<th width="30" class="nfw">1</th>
											<th width="30" class="nfw">2</th>
											<th width="30" class="nfw">3</th>
											<th width="30" class="nfw">4</th>
											<th width="30" class="nfw">5</th>
											<th width="30" class="nfw">6</th>
											<th width="30" class="nfw">7</th>
											<th width="30" class="nfw">8</th>
											<th width="30" class="nfw">9</th>
											<th width="30" class="nfw">10</th>
											<th width="30" class="nfw">1</th>
											<th width="30" class="nfw">2</th>
											<th width="30" class="nfw">3</th>
											<th width="30" class="nfw">4</th>
											<th width="30" class="nfw">5</th>
											<th width="30" class="nfw">6</th>
											<th width="30" class="nfw">7</th>
											<th width="30" class="nfw">8</th>
											<th width="30" class="nfw">9</th>
											<th width="30" class="nfw">10</th>-->
										</tr>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="fooderbox"></div>
			<div class="fixedgoBack">
				<div class="fix1200 leftright">
					<ul>
						<li>
							<a rel="nofollow" class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&amp;uin=800057725&amp;cref=http://www.168kai.cc&amp;ref=&amp;pt=168%E5%BC%80%E5%A5%96%E7%BD%91&amp;f=1&amp;ty=1&amp;ap=&amp;as="></a>
						</li>
						<li>
							<!--用户反馈模态框-->
							<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
								<span class="fankuicons"></span>
							</span>

						</li>
						<li>
							<a rel="nofollow" class="topicon" id="gotop" href="javascript:"></a>
						</li>
					</ul>
					<ul class="ul_pre">
						<li class="prev_li">
							
						</li>
						<li class="next_li">
							
						</li>
					</ul>
				</div>
			</div>
			<!--模态框-->
		<!-- 模态框（Modal） -->
		<div id="user_adv"></div>
		<div id="videobox">
			<div class="content">
				<div class="head">
					幸运时时彩开奖视频
					<div class="btn">
						<ul>
							<li class="closevideo"><i class="iconfont"></i></li>
							<li class="small">小屏</li>
							<li class="big">中屏</li>
						</ul>
					</div>
				</div>
				<div class="animate">
					<iframe style="height:100%;width:100%;border: none;" scrolling="no" src="../../js/lib/video/SSC/xyssx_index.html"></iframe>
				</div>
			</div>
		</div>
			<script type="text/javascript" src="/js/lib/calendar.js"></script>
	</div></body>
	<script type="text/javascript" src="/js/lib/config.js"></script>
	<script type="text/javascript" src="/js/lib/GA.js"></script>
	<script type="text/javascript" src="/js/loacal/animate/animate.js"></script>
	<script type="text/javascript" src="/js/loacal/shishicai_xy/ssc_kaijiang.js"></script>
	<script type="text/javascript" src="/js/loacal/shishicai_xy/ssc_jibenzs.js"></script>
	<script type="text/javascript" charset="utf-8" src="/js/lib/drawLines.js"></script>
	<script type="text/javascript" charset="utf-8" src="/js/lib/jquery.async.js"></script>
	<script type="text/javascript" charset="utf-8" src="/js/lib/pk10BaseTrend.js"></script>
</html>