#lines input {
	width: 250px;
}

.contents p {
	text-align: center;
}

.msg {
	margin-left: 5px;
	color: #333;
}

.data_table tbody tr:hover td, .data_table tbody tr:hover th {
	background: #deedfe;
}