<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
		<title>快乐8玩法规则</title>
		<link rel="stylesheet" href="../../css/headorfood.css?v=20227151437" />
		<link rel="stylesheet" href="../../css/guizejianjie.css?v=20227151437" />
		<link rel="shortcut icon" href="../../img/icon/168favicon.ico?v=20227151437">
		<link rel="stylesheet" href="../../css/user_adv.css?v=20227151437" />
		<!--<link rel="stylesheet" href="../../css/style.css?v=20227151437" />-->
		<link rel="stylesheet" href="../../css/home.css?v=20227151437" />
		<script src="../../js/lib/bootstrap-3.3.0/js/tests/vendor/jquery.min.js"></script>
		<script src="../../js/lib/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/lib/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="../../js/lib/config.js?v=20227151437"></script>
		<script type="text/javascript" src="../../js/lib/GA.js?v=20227151437"></script>
		<script type="text/javascript" src="../../js/loacal/wanfaguize/wfgz_hf.js?v=20227151437"></script>
	</head>

	<body>
		<div class="bodybox">
			<div id="headdivbox"></div>

			<!--规则展示-->
			<div class="guize">
				<div class="guize_intro">首页 &gt;快乐8玩法规则</div>
				<div class="guize_menu">
					<ul id="rule-submenu">
						<li class="guize_head">
							<strong>玩法规则</strong>
						</li>
						<li class="hover">
							<a href="PK10_wanfaguize.html"><strong>PK10</strong></a>
						</li>
						<!--<li class="hover">
							<a href="tencent_ffc_wanfaguize.html"><strong>腾讯分分彩</strong></a>
						</li>-->
						<!--<li class="hover">
							<a href="CQssc_wanfaguize.html"><strong>重庆时时彩</strong></a>
						</li>-->
						<li class="hover">
							<a href="hayypCZ_wanfaguize.html"><strong>重庆欢乐生肖</strong></a>
						</li>
						<li class="hover">
							<a href="XJssc_wanfaguize.html"><strong>新疆时时彩</strong></a>
						</li>
						<li class="hover">
							<a href="TJssc_wanfaguize.html"><strong>天津时时彩</strong></a>
						</li>
						<li class="hover">
							<a href="tw5fc_wanfaguize.html"><strong>台湾5分彩</strong></a>
						</li>
						<li class="hover">
							<a href="GDklsf_wanfaguize.html"><strong>广东快乐十分</strong></a>
						</li>
						<li class="hover">
							<a href="GD11x5_wanfaguize.html"><strong>广东11选5</strong></a>
						</li>
						<li class="hover">
							<a href="JSK3_wanfaguize.html"><strong>江苏快3</strong></a>
						</li>
						<li class="hover">
							<a href="SYYDJ_wanfaguize.html"><strong>十一运夺金</strong></a>
						</li>
						<li class="hover">
							<a href="CQXYNC_wanfaguize.html"><strong>重庆幸运农场</strong></a>
						</li>
						<li class="hover">
							<a href="KUAI3_wanfaguize.html"><strong>快3</strong></a>
						</li>
						<li class="hover">
							<a href="SYX5_wanfaguize.html"><strong>11选5</strong></a>
						</li>
						<li class="active">
							<a href="BJKL8_wanfaguize.html"><strong>快乐8</strong></a>
						</li>
						<li class="hover">
							<a href="GXKLSF.html"><strong>广西快乐十分</strong></a>
						</li>
						<li class="hover">
							<a href="EGXY28.html"><strong>PC蛋蛋幸运28</strong></a>
						</li>
						<li class="hover">
							<a href="CJDLT.html"><strong>超级大乐透</strong></a>
						</li>
						<li class="hover">
							<a href="FCSD.html"><strong>福彩3D</strong></a>
						</li>
						<li class="hover">
							<a href="FCQLT.html"><strong>福彩七乐彩</strong></a>
						</li>
						<li class="hover">
							<a href="FCSSQ.html"><strong>福彩双色球</strong></a>
						</li>
						<li class="hover">
							<a href="PLS.html"><strong>体彩排列3</strong></a>
						</li>
						<li class="hover">
							<a href="PLW.html"><strong>体彩排列5</strong></a>
						</li>
						<li class="hover">
							<a href="QXC.html"><strong>体彩七星彩</strong></a>
						</li>
						<li class="hover">
							<a href="TWBG_wanfaguize.html"><strong>台湾宾果</strong></a>
						</li>
						<li class="hover">
							<a href="TWdlt.html"><strong>台湾大乐透</strong></a>
						</li>
						<li class="hover">
							<a href="TWwlc.html"><strong>台湾威力彩</strong></a>
						</li>
						<li class="hover">
							<a href="TWjr539.html"><strong>台湾今彩539</strong></a>
						</li>
					</ul>
				</div>
				<!--规则详情-->
				<div class="guize_detail">
					<div class="container" style="margin-top: 0px;">
							<p style="text-align: center;">
								<strong><span style="font-weight:900;font-family: 微软雅黑; font-size: 18px;"> “快乐8”游戏规则</span></strong>
							</p>
							<p style="text-align: center; text-indent: 0em; font-size: 15px;">
							<strong style="font-size: 15px;">第一章  总则</strong></p><p style="text-indent: 2em; text-align: justify; font-size: 15px;">第一条 &nbsp;根据《彩票管理条例》、《彩票管理条例实施细则》、《彩票发行销售管理办法》等相关规定，制定本规则。
							</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第二条  中国福利彩票快乐8游戏（以下简称快乐8游戏）由中国福利彩票发行管理中心（以下简称中福彩中心）发行和组织销售，由各省、自治区、直辖市福利彩票销售机构（以下简称各省福彩中心）在所辖区域内销售。</p><p style="text-indent: 2em; text-align: justify; font-size: 15px;">第三条  快乐8游戏采用计算机网络系统发行，在各省福彩中心设置的福利彩票（视频型彩票除外）销售场所销售，定期开奖。</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第四条  快乐8游戏实行自愿购买，凡购买者均被视为同意并遵守本规则。</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第五条  不得向未成年人出售彩票或兑付奖金。</p>
							<p style="text-align: center; text-indent: 0em; font-size: 15px;"><strong style="font-size: 15px;">第二章  投注</strong></p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第六条  快乐8游戏是指从1至80共八十个号码中任意选择一至十个号码进行投注，每一组一个至十个号码的组合称为一注彩票，每注金额人民币2元。</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第七条 &nbsp;购买者可在各省福彩中心设置的福利彩票（视频型彩票除外）销售场所投注。投注号码经投注机打印出对奖凭证，交购买者保存，此对奖凭证即为快乐8游戏彩票。</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第八条  快乐8游戏共包括“选一”、“选二”、“选三”、“选四”、“选五”、“选六”、“选七”、“选八”、“选九”和“选十”十种玩法。</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第九条  投注号码可以自选也可以机选。自选号码投注是指由购买者指定投注号码的投注；机选号码投注是指由投注机随机产生投注号码的投注。</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第十条 &nbsp;快乐8游戏各玩法均支持单式投注。“选一”至“选十”单式投注的号码个数分别为一个至十个。投注时从八十个号码中选出对应玩法要求的号码个数作为一注彩票。</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第十一条  快乐8游戏各玩法均支持复式投注和胆拖投注。</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">复式投注是指所选号码个数超过单式投注的号码个数，所选号码可组合为每一种单式投注方式的多注彩票的投注。</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">胆拖投注指先选取少于单式投注号码个数的号码作为每注都有的胆码，再选取除胆码以外的号码作为拖码，胆码与拖码个数之和必须多于单式投注号码个数，由胆码与拖码的每一种组合按单式投注方式组成多注彩票的投注。</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第十二条  购买者可对其选定的投注号码进行多倍投注，投注倍数范围为2-15倍。单张彩票的投注注数不得超过10000注。</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第十三条  快乐8游戏按期销售，每天销售一期，期号以开奖日界定，销售期号按日历年度编排。</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第十四条  若因销售终端故障、通讯线路故障、销售场所信用额度受限和不可抗力等原因造成投注不成功的，应退还购买者投注金额。</p>
							<p style="text-align: center; text-indent: 0em; font-size: 15px;"><strong style="font-size: 15px;">第三章  设奖</strong></p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第十五条  快乐8游戏按当期实际销售额的58%、30%和12%分别计提彩票奖金、彩票公益金和彩票发行费。彩票奖金分为当期奖金和调节基金，其中，57.5%为当期奖金，0.5%为调节基金。</p>
							<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第十六条 &nbsp;快乐8游戏按不同玩法设奖，“选十”玩法中“选十中十”奖等采用浮动奖金设奖，其他玩法及奖等均采用固定奖金设奖，单注奖金规定如下：</p>
							<p style="text-align: center; max-width: 600px; text-indent: 0em; font-size: 15px; margin:0 auto"><a href="../../img/wanfgzimg/kl8.png?v=20227151437" target="_blank" style="max-width: 600px; text-indent: 0em; font-size: 15px;">
								<img src="../../img/wanfgzimg/kl8.png?v=20227151437" title="快乐8游戏奖金设置结构表" alt="快乐8游戏奖金设置结构表" suffix="png" style="max-width: 600px; height: auto; "></a></p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;"><span style="text-indent: 2em; font-family: inherit; font-size: 15px;">第十七条  快乐8游戏采取全国统一奖池计奖，针对不同玩法设立两个奖池，分别为“选一”至“选九”玩法的共用奖池和“选十”玩法奖池。</span></p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第十八条 &nbsp;共用奖池的资金由“选一”至“选九”玩法当期计提奖金与“选一”至“选九”玩法当期实际中出奖金的差额组成。当期实际中出奖金小于当期计提奖金时，余额进入奖池；当期实际中出奖金超过当期计提奖金时，差额由奖池资金补足。当奖池资金总额不足时，由调节基金补足，调节基金不足时，用彩票兑奖周转金垫支。在出现彩票兑奖周转金垫支的情况下，当调节基金有资金滚入时优先偿还垫支的彩票兑奖周转金。当奖池资金超过3000万元时，超出部分转入调节基金。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第十九条 “选十”玩法奖池的资金由“选十中十”奖等未中出奖金和超出单注奖金封顶限额部分的奖金组成，“选十”玩法奖池资金仅用于支付“选十中十”奖等奖金。当“选十”玩法的当期奖金和“选十”玩法奖池资金不足以兑付当期“选十”玩法中奖奖金时，由调节基金补足，调节基金不足时，用彩票兑奖周转金垫支。在出现彩票兑奖周转金垫支的情况下，当调节基金有资金滚入时优先偿还垫支的彩票兑奖周转金。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第二十条  “选十”玩法中，当期“选十中十”奖等的奖金总额为“选十”玩法销售额计提的当期奖金减去“选十”玩法当期实际中出的固定奖奖金总额后，与“选十”玩法奖池资金之和，单注奖金按注均分，并以元为单位取整计算，单注奖金最高封顶500万元。</p><p style="text-indent: 2em; text-align: justify; font-size: 15px;">第二十一条  快乐8游戏设置调节基金。调节基金包括按销售总额0.5%提取部分、浮动奖奖金按元取整后的余额。调节基金用于支付不可预见的奖金支出风险以及设立特别奖。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第二十二条 &nbsp;当期“选十中十”奖等作如下特别规定：若当期“选十中十”奖等总奖金不足50万元时，由调节基金补足至50万元，并按当期“选十中十”奖等的中奖注数均分50万元奖金。若“选十中十”奖等单注奖金低于“选十中九”奖等单注奖金的两倍时，由调节基金将“选十中十”奖等单注奖金补足为“选十中九”奖等单注奖金的两倍。调节基金不足时，用彩票兑奖周转金垫支。</p><p style="text-indent: 2em; text-align: justify; font-size: 15px;">第二十三条  快乐8游戏每期全部投注号码的可投注数量实行限量销售，由中福彩中心根据实际情况确定限量销售办法，并及时向社会公布。若投注号码受限，则不能投注。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第二十四条  快乐8游戏每期采取最大返奖总额限额风险控制，若当期应付奖金超过最大返奖总额，则各奖级单注奖金相应调整，具体调整办法由中福彩中心根据实际情况确定，并及时向社会公布。</p>
								<p style="text-align: center; text-indent: 0em; font-size: 15px;"><strong style="font-size: 15px;">第四章 &nbsp;开奖</strong></p><p style="text-indent: 2em; text-align: justify; font-size: 15px;">第二十五条  快乐8游戏由中福彩中心统一开奖，每天开奖一次。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第二十六条  快乐8游戏开奖采用专用摇奖设备摇奖，每期开奖时，从1至80共八十个号码中随机摇出二十个号码作为当期开奖号码。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第二十七条  每期开奖后，中福彩中心和各省福彩中心应向社会公布开奖号码、当期销售总额、各玩法奖级中奖情况及奖池资金余额等信息，并将开奖结果通知彩票销售场所。</p>
								<p style="text-align: center; text-indent: 0em; font-size: 15px;"><strong style="font-size: 15px;">第五章  中奖</strong></p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第二十八条  快乐8游戏根据购买者所选玩法的单式投注号码（复式和胆拖投注按其包含的每一注单式投注计）与当期开奖号码的相符情况（顺序不限)，确定相应的中奖资格及中奖奖金，具体中奖规定如下：</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">（一）“选十”玩法。若投注号码与当期开奖号码中的任意十个号码相同，中得浮动奖；若投注号码与当期开奖号码中的任意九个号码相同，即中奖，单注中奖金额8000元；若投注号码与当期开奖号码中的任意八个号码相同，即中奖，单注中奖金额800元；若投注号码与当期开奖号码中的任意七个号码相同，即中奖，单注中奖金额80元；若投注号码与当期开奖号码中的任意六个号码相同，即中奖，单注中奖金额5元；若投注号码与当期开奖号码中的任意五个号码相同，即中奖，单注中奖金额3元；若投注号码与当期开奖号码全部不同，即中奖，单注中奖金额2元。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">（二）“选九”玩法。若投注号码与当期开奖号码中的任意九个号码相同，即中奖，单注中奖金额300000元；若投注号码与当期开奖号码中的任意八个号码相同，即中奖，单注中奖金额2000元；若投注号码与当期开奖号码中的任意七个号码相同，即中奖，单注中奖金额200元；若投注号码与当期开奖号码中的任意六个号码相同，即中奖，单注中奖金额20元；若投注号码与当期开奖号码中的任意五个号码相同，即中奖，单注中奖金额5元；若投注号码与当期开奖号码中的任意四个号码相同，即中奖，单注中奖金额3元；若投注号码与当期开奖号码全部不同，即中奖，单注中奖金额2元。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">（三）“选八”玩法。若投注号码与当期开奖号码中的任意八个号码相同，即中奖，单注中奖金额50000元；若投注号码与当期开奖号码中的任意七个号码相同，即中奖，单注中奖金额800元；若投注号码与当期开奖号码中的任意六个号码相同，即中奖，单注中奖金额88元；若投注号码与当期开奖号码中的任意五个号码相同，即中奖，单注中奖金额10元；若投注号码与当期开奖号码中的任意四个号码相同，即中奖，单注中奖金额3元；若投注号码与当期开奖号码全部不同，即中奖，单注中奖金额2元。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">（四）“选七”玩法。若投注号码与当期开奖号码中的任意七个号码相同，即中奖，单注中奖金额10000元；若投注号码与当期开奖号码中的任意六个号码相同，即中奖，单注中奖金额288元；若投注号码与当期开奖号码中的任意五个号码相同，即中奖，单注中奖金额28元；若投注号码与当期开奖号码中的任意四个号码相同，即中奖，单注中奖金额4元；若投注号码与当期开奖号码全部不同，即中奖，单注中奖金额2元。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">（五）“选六”玩法。若投注号码与当期开奖号码中的任意六个号码相同，即中奖，单注中奖金额3000元；若投注号码与当期开奖号码中的任意五个号码相同，即中奖，单注中奖金额30元；若投注号码与当期开奖号码中的任意四个号码相同，即中奖，单注中奖金额10元；若投注号码与当期开奖号码中的任意三个号码相同，即中奖，单注中奖金额3元。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">（六）“选五”玩法。若投注号码与当期开奖号码中的任意五个号码相同，即中奖，单注中奖金额1000元；若投注号码与当期开奖号码中的任意四个号码相同，即中奖，单注中奖金额21元；若投注号码与当期开奖号码中的任意三个号码相同，即中奖，单注中奖金额3元。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">（七）“选四”玩法。若投注号码与当期开奖号码中的任意四个号码相同，即中奖，单注中奖金额100元；若投注号码与当期开奖号码中的任意三个号码相同，即中奖，单注中奖金额5元；若投注号码与当期开奖号码中的任意两个号码相同，即中奖，单注中奖金额3元。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">（八）“选三”玩法。若投注号码与当期开奖号码中的任意三个号码相同，即中奖，单注中奖金额53元；若投注号码与当期开奖号码中的任意两个号码相同，即中奖，单注中奖金额3元。</p><p style="text-indent: 2em; text-align: justify; font-size: 15px;">（九）“选二”玩法。若投注号码与当期开奖号码中的任意两个号码相同，即中奖，单注中奖金额19元。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">（十）“选一”玩法。若投注号码与当期开奖号码中的任意一个号码相同，即中奖，单注中奖金额4.6元。</p><p style="text-indent: 2em; text-align: justify; font-size: 15px;">第二十九条  “选十”玩法浮动奖中奖者按浮动奖中奖注数均分浮动奖奖金，并以元为单位取整计算；固定奖中奖者按各奖级的单注固定奖金获得相应奖金。</p><p style="text-indent: 2em; text-align: justify; font-size: 15px;">第三十条  当期每注投注号码只有一次中奖机会，不能兼中兼得。特别设奖除外。</p>
								<p style="text-align: center; text-indent: 0em; font-size: 15px;"><strong style="font-size: 15px;">第六章  兑奖</strong></p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第三十一条  中奖彩票是兑奖的唯一凭证，中奖彩票因玷污、损坏等原因而不能正确识别的，不能兑奖。</p><p style="text-indent: 2em; text-align: justify; font-size: 15px;">第三十二条  快乐8游戏兑奖当期有效。中奖者应当自开奖之日起60个自然日内，持中奖彩票到指定的地点兑奖。逾期未兑奖视为弃奖，弃奖奖金纳入彩票公益金。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第三十三条  单注中奖金额在一万元（不含）以上的中奖者须依法缴纳个人所得税，由兑奖机构依法代扣代缴。兑奖机构有权查验中奖者的中奖彩票及有效身份证件，兑奖者应予配合。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第三十四条  凡使用伪造、变造彩票兑奖者，送交司法机关追究其法律责任。</p><p style="text-align: center; text-indent: 0em; font-size: 15px;"><strong style="font-size: 15px;">第七章  附则</strong></p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第三十五条  本规则由中福彩中心解释。</p>
								<p style="text-indent: 2em; text-align: justify; font-size: 15px;">第三十六条  本规则自批准之日起执行。</p><p style="font-size: 15px;">
								<br style="text-indent: 2em; text-align: left; font-size: 15px;"></p>
					</div>
				</div>
			</div>

			<div id="fooderbox"></div>
		</div>
		<div class="fixedgoBack">
			<div class="fix1200">
				<ul>
					<li>
						<a rel="nofollow" class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&uin=800057725&cref=http://www.168kai.cc&ref=&pt=168%E5%BC%80%E5%A5%96%E7%BD%91&f=1&ty=1&ap=&as="></a>
					</li>
					<li>
						<!--用户反馈模态框-->
						<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
							<span class="fankuicons"></span>
						</span>

					</li>
					<li>
						<a rel="nofollow" class="topicon" id="gotop" href="javascript:"></a>
					</li>
				</ul>
			</div>
		</div>
		<!--模态框-->
		<!-- 模态框（Modal） -->
		<div id="user_adv"></div>

	</body>

</html>