<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
		<title>极速蛋蛋玩法规则</title>
		<link rel="stylesheet" href="../../css/headorfood.css?v=20227151437" />
		<link rel="stylesheet" href="../../css/guizejianjie.css?v=20227151437" />
		<link rel="shortcut icon" href="../../img/icon/168favicon.ico?v=20227151437">
		<link rel="stylesheet" href="../../css/user_adv.css?v=20227151437" />
		<!--<link rel="stylesheet" href="../../css/style.css?v=20227151437" />-->
		<link rel="stylesheet" href="../../css/home.css?v=20227151437" />
		<script src="../../js/lib/bootstrap-3.3.0/js/tests/vendor/jquery.min.js"></script>
		<script src="../../js/lib/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/lib/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="../../js/lib/config.js?v=20227151437"></script>
		<script type="text/javascript" src="../../js/lib/GA.js?v=20227151437"></script>
		<script type="text/javascript" src="../../js/loacal/wanfaguize/wfgz_hf.js?v=20227151437"></script>
	</head>

	<body>
		<div class="bodybox">
			<div id="headdivbox"></div>

			<!--规则展示-->
			<div class="guize">
				<div class="guize_intro">首页 &gt;极速蛋蛋玩法规则</div>
				<div class="guize_menu">
					<ul id="rule-submenu">
						<li class="guize_head">
							<strong>玩法规则</strong>
						</li>
						<li class="hover">
							<a href="PK10_wanfaguize.html"><strong>PK10</strong></a>
						</li>
						<!--<li class="hover">
							<a href="tencent_ffc_wanfaguize.html"><strong>腾讯分分彩</strong></a>
						</li>-->
						<!--<li class="hover">
							<a href="CQssc_wanfaguize.html"><strong>重庆时时彩</strong></a>
						</li>-->
						<li class="hover">
							<a href="hayypCZ_wanfaguize.html"><strong>重庆欢乐生肖</strong></a>
						</li>
						<li class="hover">
							<a href="XJssc_wanfaguize.html"><strong>新疆时时彩</strong></a>
						</li>
						<li class="hover">
							<a href="TJssc_wanfaguize.html"><strong>天津时时彩</strong></a>
						</li>
						<li class="hover ">
							<a href="tw5fc_wanfaguize.html"><strong>台湾5分彩</strong></a>
						</li>
						<li class="hover">
							<a href="GDklsf_wanfaguize.html"><strong>广东快乐十分</strong></a>
						</li>
						<li class="hover">
							<a href="GD11x5_wanfaguize.html"><strong>广东11选5</strong></a>
						</li>
						<li class="hover">
							<a href="JSK3_wanfaguize.html"><strong>江苏快3</strong></a>
						</li>
						<li class="hover">
							<a href="SYYDJ_wanfaguize.html"><strong>十一运夺金</strong></a>
						</li>
						<li class="hover">
							<a href="CQXYNC_wanfaguize.html"><strong>重庆幸运农场</strong></a>
						</li>
						<li class="hover">
							<a href="KUAI3_wanfaguize.html"><strong>快3</strong></a>
						</li>
						<li class="hover">
							<a href="SYX5_wanfaguize.html"><strong>11选5</strong></a>
						</li>
						<li class="hover">
							<a href="BJKL8_wanfaguize.html"><strong>北京快乐8</strong></a>
						</li>
						<li class="hover">
							<a href="GXKLSF.html"><strong>广西快乐十分</strong></a>
						</li>
						<li class="active">
							<a href="EGXY28.html"><strong>极速蛋蛋</strong></a>
						</li>
						<li class="hover">
							<a href="CJDLT.html"><strong>超级大乐透</strong></a>
						</li>
						<li class="hover">
							<a href="FCSD.html"><strong>福彩3D</strong></a>
						</li>
						<li class="hover">
							<a href="FCQLT.html"><strong>福彩七乐彩</strong></a>
						</li>
						<li class="hover">
							<a href="FCSSQ.html"><strong>福彩双色球</strong></a>
						</li>
						<li class="hover">
							<a href="PLS.html"><strong>体彩排列3</strong></a>
						</li>
						<li class="hover">
							<a href="PLW.html"><strong>体彩排列5</strong></a>
						</li>
						<li class="hover">
							<a href="QXC.html"><strong>体彩七星彩</strong></a>
						</li>
						<li class="hover">
							<a href="TWBG_wanfaguize.html"><strong>台湾宾果</strong></a>
						</li>
						<li class="hover">
							<a href="TWdlt.html"><strong>台湾大乐透</strong></a>
						</li>
						<li class="hover">
							<a href="TWwlc.html"><strong>台湾威力彩</strong></a>
						</li>
						<li class="hover">
							<a href="TWjr539.html"><strong>台湾今彩539</strong></a>
						</li>
					</ul>
				</div>
				<!--规则详情-->
				<div class="guize_detail">
					<div class="container" style="margin-top: 0px;">
						<p style="text-align: center;    font-size: 18px;"><strong >极速蛋蛋玩法规则</strong></p><p><br></p><p><strong>第一章 总 则</strong></p><p>开奖结果来源于“极速快乐8”开奖号码，开奖时间24小时不停歇，每75秒开奖一次，每天开奖1152期。</p><p>澳洲幸运20每期开奖共开出20个数字，极速蛋蛋将这20个开奖号码按照由小到大的顺序依次排列；取其1-6位开奖 号码相加，和值的末位数作为极速蛋蛋开奖第一个数值； 取其7-12位开奖号码相加，和值的末位数作为幸运28 开奖第二个数值，取其13-18位开奖号码相加，和值的末位数作为幸运 28开奖第三个数值；三个数值相加即为 幸运28最终的开奖结果</p>
						<p>极速蛋蛋开奖结果（以上面为例）就是 6+7+5=18 幸运28总共由28个号码组成，分别为0-27</p><p><strong><br></strong></p><p><strong>玩法简介</strong></p>
						<p>大小玩法：数字14-27为大 数字0-13为小</p><p>单双玩法: 数字1，3，5，~27为单 数字0，2，4~26为双</p><p>极值玩法: [极小0-5] [极大22-27]</p><p><br></p>
						<p><strong>组合玩法:</strong></p><p>• 数字14，16，~26为大双 数字0，2，4，~12为小双</p><p>• 数字15，17，~27为大单 数字1，3，5，~13为小单</p>
						<p>定位玩法(单点数字玩法): 从数字0-27中选取一个数字</p><p><br></p>				
					</div>
				</div>
			</div>

			<div id="fooderbox"></div>
		</div>
		<div class="fixedgoBack">
			<div class="fix1200">
				<ul>
					<li>
						<a rel="nofollow" class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&uin=800057725&cref=http://www.168kai.cc&ref=&pt=168%E5%BC%80%E5%A5%96%E7%BD%91&f=1&ty=1&ap=&as="></a>
					</li>
					<li>
						<!--用户反馈模态框-->
						<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
							<span class="fankuicons"></span>
						</span>

					</li>
					<li>
						<a rel="nofollow" class="topicon" id="gotop" href="javascript:"></a>
					</li>
				</ul>
			</div>
		</div>
		<!--模态框-->
		<!-- 模态框（Modal） -->
		<div id="user_adv"></div>

	</body>

</html>