<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
		<title>台湾今彩539玩法规则</title>
		<link rel="stylesheet" href="../../css/headorfood.css?v=20227151437" />
		<link rel="stylesheet" href="../../css/guizejianjie.css?v=20227151437" />
		<link rel="shortcut icon" href="../../img/icon/168favicon.ico?v=20227151437">
		<link rel="stylesheet" href="../../css/user_adv.css?v=20227151437" />
		<link rel="stylesheet" href="../../css/home.css?v=20227151437" />
		<script src="../../js/lib/bootstrap-3.3.0/js/tests/vendor/jquery.min.js"></script>
		<script src="../../js/lib/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../js/lib/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="../../js/lib/config.js?v=20227151437"></script>
		<script type="text/javascript" src="../../js/lib/GA.js?v=20227151437"></script>
		<script type="text/javascript" src="../../js/loacal/wanfaguize/wfgz_hf.js?v=20227151437"></script>
	</head>
	<style>
		.tableHead{
			width: 100%;
			height: 36px;
			line-height: 35px;
			box-sizing: border-box;
			border-bottom: 1px solid #000;
		}
		.tableHead span{
			width: 45%;
			text-align: center;
			background: #ffcc66;
			display: inline-block;
			box-sizing: border-box;
			border-right: 1px solid #000;
			border-bottom: 1px solid #000;
		}
		.tableHead span:first-child{
			width: 10%;
		}
		.tableHead1 span:first-child{
			width: 9.8%;
			line-height: 50px;
			text-align: center;
		}
		.tableHead1{
			height: 50px;
			position: relative;
			border-bottom: 1px solid #000;
		}
		.tableHead1 span{
	        width: 44.7%;
	        line-height: 50px;
		    display: inline-block;
		    border-right: 1px solid #000;
		    height: 50px;
		}
		.list{
	        height: 50px;
		    position: absolute;
		    top: 0px;
		    right: 0;
		    width: 164px;
		}
		.list img{
		    margin-top: 13px;
		}
		.list img:first-child{
		    margin-left: 5px;
		}
		.listNb{
		    position: absolute;
		    height: 50px;
		}
		.tableText:nth-child(odd),
		.tableHead1:nth-child(even){
			background: #efefef;
		}
		.tableText:nth-child(even),
		.tableBonus:nth-child(odd),
		.tableHead1:nth-child(odd){
			background: #fef9dc;
		}
		.tableText span:last-child,
		.tableBonus span:last-child,
		.tableHead1 span:last-child,
		.tableHead span:last-child{
			border-right: none;
		}
		.tableBonus{
			width: 100%;
		    height: 40px;
		    line-height: 40px;
		    display: inline-block;
		    border-bottom: 1px solid #000;
		}
		.tableBonus span{
			width: 20%;
			height: auto;
			text-align: center;
			display: inline-block;
			box-sizing: border-box;
			border-right: 1px solid #000;
		}
		.tableBonus:last-child{
			border-bottom: none;
		}
		.tableBonus:nth-child(odd){
			background: #ffcc66;
		}
		.tableText{
			width: 100%;
		    height: 40px;
		    line-height: 40px;
		    border-bottom: 1px solid #000;
		}
		.tableText span{
			width: 33.33%;
			height: auto;
			text-align: center;
			display: inline-block;
			box-sizing: border-box;
			border-right: 1px solid #000;
		}
		.tableText:first-child{
			background: #ffcc66;
		}
	</style>
	<body>
		<div class="bodybox">
			<div id="headdivbox"></div>

			<!--规则展示-->
			<div class="guize">
				<div class="guize_intro">首页 &gt;台湾今彩539玩法规则</div>
				<div class="guize_menu">
					<ul id="rule-submenu">
						<li class="guize_head">
							<strong>玩法规则</strong>
						</li>
						<li class="hover">
							<a href="PK10_wanfaguize.html"><strong>PK10</strong></a>
						</li>
						<!--<li class="hover">
							<a href="tencent_ffc_wanfaguize.html"><strong>腾讯分分彩</strong></a>
						</li>-->
						<!--<li class="hover">
							<a href="CQssc_wanfaguize.html"><strong>重庆时时彩</strong></a>
						</li>-->
						<li class="hover">
							<a href="hayypCZ_wanfaguize.html"><strong>重庆欢乐生肖</strong></a>
						</li>
						<li class="hover">
							<a href="XJssc_wanfaguize.html"><strong>新疆时时彩</strong></a>
						</li>
						<li class="hover">
							<a href="TJssc_wanfaguize.html"><strong>天津时时彩</strong></a>
						</li>
						<li class="hover">
							<a href="tw5fc_wanfaguize.html"><strong>台湾5分彩</strong></a>
						</li>
						<li class="hover">
							<a href="GDklsf_wanfaguize.html"><strong>广东快乐十分</strong></a>
						</li>
						<li class="hover">
							<a href="GD11x5_wanfaguize.html"><strong>广东11选5</strong></a>
						</li>
						<li class="hover">
							<a href="JSK3_wanfaguize.html"><strong>江苏快3</strong></a>
						</li>
						<li class="hover">
							<a href="SYYDJ_wanfaguize.html"><strong>十一运夺金</strong></a>
						</li>
						<li class="hover">
							<a href="CQXYNC_wanfaguize.html"><strong>重庆幸运农场</strong></a>
						</li>
						<li class="hover">
							<a href="KUAI3_wanfaguize.html"><strong>快3</strong></a>
						</li>
						<li class="hover">
							<a href="SYX5_wanfaguize.html"><strong>11选5</strong></a>
						</li>
						<li class="hover">
							<a href="BJKL8_wanfaguize.html"><strong>北京快乐8</strong></a>
						</li>
						<li class="hover">
							<a href="GXKLSF.html"><strong>广西快乐十分</strong></a>
						</li>
						<li class="hover">
							<a href="EGXY28.html"><strong>PC蛋蛋幸运28</strong></a>
						</li>
						<li class="hover">
							<a href="CJDLT.html"><strong>超级大乐透</strong></a>
						</li>
						<li class="hover">
							<a href="FCSD.html"><strong>福彩3D</strong></a>
						</li>
						<li class="hover">
							<a href="FCQLT.html"><strong>福彩七乐彩</strong></a>
						</li>
						<li class="hover">
							<a href="FCSSQ.html"><strong>福彩双色球</strong></a>
						</li>
						<li class="hover">
							<a href="PLS.html"><strong>体彩排列3</strong></a>
						</li>
						<li class="hover">
							<a href="PLW.html"><strong>体彩排列5</strong></a>
						</li>
						<li class="hover">
							<a href="QXC.html"><strong>体彩七星彩</strong></a>
						</li>
						<li class="hover">
							<a href="TWBG_wanfaguize.html"><strong>台湾宾果</strong></a>
						</li>
						<li class="hover">
							<a href="TWdlt.html"><strong>台湾大乐透</strong></a>
						</li>
						<li class="hover">
							<a href="TWwlc.html"><strong>台湾威力彩</strong></a>
						</li>
						<li class="active">
							<a href="TWjr539.html"><strong>台湾今彩539</strong></a>
						</li>
					</ul>
				</div>
				<!--规则详情-->
				<div class="guize_detail">
					<div class="container" style="margin-top: 0px;">
						<p style="margin-top:21px;margin-bottom:21px;text-align:center">
							<strong><span style="font-family: 微软雅黑;font-size: 19px;font-weight: 900;"><span style="font-family:微软雅黑">台湾今彩539玩法规则</span></span></strong>
						</p>
						<dl style="font-size: 15px;line-height: 25px;color: #6d6d6d;position: relative;">
							<dt style="font-size: 18px;color: #000;">► 基本玩法</dt>
							<dd style="margin-left: 24px;vertical-align: baseline;width: 60%;display: inline-block;">
								今彩539是一種樂透型遊戲，您必須從01~39的號碼中任選5個號碼進行投注。開獎時，開獎單位將隨機開出五個號碼，這一組號碼就是該期今彩539的中獎號碼，也稱為「獎號」。您的五個選號中，如有二個以上（含二個號碼）對中當期開出之五個號碼，即為中獎，並可依規定兌領獎金。
							</dd>
							</br></br></br>
							<dd style="width: 30%;float: right;position: absolute;right: 0;top: 0;"><img src="../../img/wanfgzimg/dailycash_image01.jpg?v=20227151437"></dd>
							<dt style="font-size: 18px;color: #000;margin-left: 24px">各獎項的中獎方式如下表：</dt>
							<dd style="width: 60%;display: inline-block;margin-left: 24px;border: 1px solid #000;">
								<div class="tableHead"><span>獎項 </span><span>中獎方式</span><span>中獎方式圖示</span></div>
								<div class="tableHead1">
									<span>頭獎</span>
									<span class="listNb">與當期五個中獎號碼完全相同者</span>
									<span class="list">
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
									</span>
								</div>
								<div class="tableHead1">
									<span>貳獎</span>
									<span class="listNb">對中當期獎號之其中任四碼</span>
									<span class="list">
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
									</span>
								</div>
								<div class="tableHead1">
									<span>參獎</span>
									<span class="listNb">對中當期獎號之其中任三碼</span>
									<span class="list">
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
									</span>
								</div>
								<div class="tableHead1">
									<span>肆獎</span>
									<span class="listNb">對中當期獎號之其中任二碼</span>
									<span class="list">
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
										<img src="../../img/wanfgzimg/icon_in_01yellowball.jpg?v=20227151437" />
									</span>
								</div>
							</dd>
						</dl>
						</br></br></br></br></br></br></br></br></br></br>
						<dl>
							<dt style="font-size: 18px;color: #000;">► 獎金分配方式</dt>
							<dd class="bonus">
								<p style="padding-left: 24px;">1: 今彩539所有獎項皆為固定獎項，各獎項金額如下：</p>
							</dd>
							<dd style="width: 100%;height: auto;display: inline-block;border: 1px solid #000;">
								<div class="tableBonus"><span>獎項</span><span>頭獎</span><span>貳獎</span><span>參獎</span><span>合計</span></div>
								<div class="tableBonus"><span>單注獎金 </span><span>$8,000,000</span><span>$20,000</span><span>$300</span><span>$50</span></div>
							</dd>
							<dd class="bonus">
								<p style="padding-left: 24px;">2: 頭獎至肆獎皆採固定獎金之方式分配之，<span style="color: red;">惟如頭獎中獎注數過多，致使頭獎總額超過新臺幣2,400萬元時，頭獎獎額之獎金分配方式將改為均分制，由所有頭獎中獎人依其中獎注數均分新臺幣2,400萬元〈計算至元為止，元以下無條件捨去。該捨去部分所產生之款項將視為逾期未兌領獎金，全數歸入公益彩券盈餘〉。</span></p>
							</dd>
						</dl>
						</br></br>
						<dl>
							<dt style="font-size: 18px;color: #000;">► 投注方式及進階玩法</dt>
							<dd>
								<p style="padding-left: 24px;">您可以利用以下三種方式投注今彩539：</p>
								<p style="padding-left: 24px;"> 一、使用選號單進行投注：</p>
								<p style="padding-left: 55px;">
									每張今彩539最多可劃記6組選號，每個選號區都設有39個號碼(01~39)，您可以依照自己的喜好，自由選用以下幾種不同的方式填寫選號單，進行投注。<br>
									* 注意，在同一張選號單上，各選號區可分別採用不同的投注方式。<br>
                    				選號單之正確劃記方式有三種，塗滿<img src="../../img/wanfgzimg/draw_01.png?v=20227151437" /> 、打叉<img src="../../img/wanfgzimg/draw_02.png?v=20227151437" />或打勾<img src="../../img/wanfgzimg/draw_03.png?v=20227151437" />，但請勿超過格線。填寫步驟如下：<br />
                    				<span style="color: #660066;">1.劃記選號</span><br />
                    				<span style="padding-left: 10px; color: #FF3300;">A.自行選號</span><br />
                    				<span style="padding-left: 20px;">
                    					 在選號區中，自行從01~39的號碼中填選5個號碼進行投注。<br />
                    					<img src="../../img/wanfgzimg/dailycash_image02_a.gif?v=20227151437" />
                    				</span><br />
                    				<span style="padding-left: 10px; color: #FF3300;">B.全部快選</span><br />
                    				<span style="padding-left: 20px;">
                    					在選號區中，劃記「快選」，投注機將隨機產生一組5個號碼。<br />
                    					<img src="../../img/wanfgzimg/dailycash_image02_b.gif?v=20227151437" />
                    				</span><br />
                    				<span style="padding-left: 10px; color: #FF3300;">C.部分快選</span><br />
                    				<span style="padding-left: 20px;">
                    					您也可以在選號區中選擇1~4個號碼，並劃記「快選」，投注機將隨機為你選出剩下的號碼，產生一組5個號碼。 以下圖為例，如果您只選擇3、16、18、37 等四個號碼，並劃記「快選」，剩下一個號碼將由投注機隨機快選產生。<br />
                    					<img src="../../img/wanfgzimg/dailycash_image02_c.gif?v=20227151437" />
                    				</span><br />
                    				<span style="padding-left: 10px; color: #FF3300;">D.系統組合</span><br />
                    				<span style="padding-left: 20px;">
                    					您可以在選號區中選擇6~16個號碼進行投注，系統將就選號單上的選號排列出所有可能的號碼組合。<br />
                    					例如您選擇用1、7、29、30、35、39等六個號碼進行投注，<br />
                    					則投注機所排列出的所有號碼組合將為：<br />
                    					第一注：1、7、29、30、35<br />
                    					第二注：1、7、29、30、39<br />
                    					第三注：1、7、29、35、39<br />
                    					第四注：1、7、30、35、39<br />
                    					第五注：1、29、30、35、39<br />
                    					第六注：7、29、30、35、39<br />	
                    				            系統組合所產生的總注數和總投注金額將因您所選擇的號碼數量而異。請參見下表：<br />	
                    				    <ul style="width: 100%;height: auto;">
                    				    	<li style="width: 40%;display: inline-block; border: 1px solid #000;margin-left: 53px;">
                    				    		<div class="tableText"><span>選號數 </span><span>總注數</span><span>總投注金額 </span></div>
                    				    		<div class="tableText"><span> 6 </span><span> 6 </span><span> 300 </span></div>
                    				    		<div class="tableText"><span> 7 </span><span> 21 </span><span> 1,050 </span></div>
                    				    		<div class="tableText"><span> 8 </span><span> 56 </span><span> 2,800 </span></div>
                    				    		<div class="tableText"><span> 9 </span><span> 126 </span><span> 6,300 </span></div>
                    				    		<div class="tableText"><span> 10 </span><span> 252 </span><span> 12,600 </span></div>
                    				    		<div class="tableText"><span> 11 </span><span> 462 </span><span> 23,100 </span></div>
                    				    	</li>
                    				    	<li style="width: 40%;display: inline-block; border: 1px solid #000;margin-left: 10px;">
                    				    		<div class="tableText"><span>選號數 </span><span>總注數</span><span>總投注金額 </span></div>
                    				    		<div class="tableText"><span>12</span><span> 792 </span><span> 39,600 </span></div>
                    				    		<div class="tableText"><span>13</span><span> 1287 </span><span> 64,350 </span></div>
                    				    		<div class="tableText"><span>14</span><span> 2002 </span><span> 100,100 </span></div>
                    				    		<div class="tableText"><span>15</span><span> 3003 </span><span> 150,150 </span></div>
                    				    		<div class="tableText"><span>16</span><span> 4368 </span><span> 218,400 </span></div>
                    				    		<div class="tableText"><span>-</span><span>-</span><span>-</span></div>
                    				    	</li>
                    				    </ul>
                    				</span><br />
                    				<span style="padding-left: 50px;color: #FF3300;">E.系統配號</span><br />
                    				<span>
                    					<p style="margin-left: 70px;">
                    						您可以在選號區中選擇4個號碼進行投注，系統將就您的選號和剩下的35個號碼，自動進行配對，組合出35注選號。 如果您選擇用1、2、3、4等四個號碼進行投注，<br />
                    						則投注機所排列出的所有號碼組合將為：<br />
	                    					第一注：1、2、3、4、5<br />
	                    					第二注：1、2、3、4、6<br />
	                    					第三注：1、2、3、4、7<br />
	                    					 ： <br />
	                    					 ： <br />
	                    					第三十四注：1、2、3、4、38<br />
	                    					第三十五注：1、2、3、4、39<br />
	                    					* 注意，每次系統配號將固定產生35注，投注金額固定為新臺幣1,750元。<br />
                    					</p>
                    					<span style="padding-left: 50px;color: #660066;">2.劃記投注期數</span><br />
                    					<p style="margin-left: 70px;">
                    						您可以選擇就您的投注內容連續投注2~24期（含當期），您的投注號碼在您所選擇的期數內皆可對獎，惟在多期投注期間不得中途要求退/換彩券；如您在多期投注期間內對中任一期的獎項，可直接至任一投注站或中國信託商業銀行(股)公司指定兌獎處兌獎，不需等到最後一期開獎結束。兌獎時，投注站或中國信託商業銀行(股)公司指定兌獎處將回收您的彩券，並同時列印一張「交換票」給您，供您在剩餘的有效期數內對獎。
                    					</p>
                    					<img style="margin-left: 70px;" src="../../img/wanfgzimg/dailycash_image02_d.gif?v=20227151437" />
                    				</span><br />
								</p>
								<p style="padding-left: 24px;">二、口頭投注</p>
								<p style="margin-left: 50px;">您也可以口頭告知電腦型彩券經銷商您要選的號碼、投注方式、投注期數等投注內容，並透過經銷商操作投注機，直接進行投注。</p>
								<p style="padding-left: 24px;">三、智慧型手機電子選號單(QR Code)投注</p>
								<p style="margin-left: 50px;">
									如果您的智慧型手機為iOS或Android之作業系統，您可先下載「台灣彩券」APP，並利用APP中的「我要選號」功能，填寫投注內容。每張電子選號單皆將產生一個QRcode，至投注站掃描該QR Code，即可自動印出彩券，付費後即完成交易。<br />
									<img src="../../img/wanfgzimg/dailycash_image03.jpg?v=20227151437" />
								</p>
							</dd>
							<br /><br />
							<dl>
								<dt style="font-size: 18px;color: #000;">►  預購服務</dt>
								<dd style="margin-left: 25px;">
									<p>1: 本遊戲提供預購服務，您可至投注站預先購買當期起算24期內的任一期。</p>
									<p>2: 預購方式以告知投注站人員或智慧型手機電子選號單(QR Code)投注為之，故選號單不另提供預購投注選項。</p>
								</dd>
							</dl>
							<br /><br />
							<dl>
								<dt style="font-size: 18px;color: #000;">►  售價</dt>
								<dd style="margin-left: 25px;">
									<p>1: 今彩539每注售價為新臺幣50元（五個號碼所形成的一組選號稱為一注）。</p>
									<p>2: 如投注多期，則總投注金額為原投注金額乘以投注期數之總和。</p>
								</dd>
							</dl>
							<br /><br />
							<dl>
								<dt style="font-size: 18px;color: #000;">►  券面資訊</dt>
								<dd style="margin-left: 25px;">
									<img src="../../img/wanfgzimg/dailycash_image04.jpg?v=20227151437" /><br />
									<p>注意事項：彩券銷售後如遇有加開期數之情況，預購及多期投注之期數將順延。若彩券上的資料和電腦紀錄的資料不同，以電腦紀錄資料為準。</p>
								</dd>
							</dl>
						</dl>
					</div>
				</div>
			</div>

			<div id="fooderbox"></div>
		</div>
		<div class="fixedgoBack">
			<div class="fix1200">
				<ul>
					<li>
						<a rel="nofollow" class="kefuicon" target="_blank" href="http://crm2.qq.com/page/portalpage/wpa.php?lang=&uin=800057725&cref=http://www.168kai.cc&ref=&pt=168%E5%BC%80%E5%A5%96%E7%BD%91&f=1&ty=1&ap=&as="></a>
					</li>
					<li>
						<!--用户反馈模态框-->
						<span class="fankuicon fankuicon_a" data-toggle="modal" data-target="#myModal">
							<span class="fankuicons"></span>
						</span>

					</li>
					<li>
						<a rel="nofollow" class="topicon" id="gotop" href="javascript:"></a>
					</li>
				</ul>
			</div>
		</div>
		<!--模态框-->
		<!-- 模态框（Modal） -->
		<div id="user_adv"></div>

	</body>

</html>